allow vendor_adsprpcd ion_device:chr_file r_file_perms;
allow vendor_adsprpcd dmabuf_system_heap_device:chr_file r_file_perms;
allow vendor_adsprpcd vendor_dmabuf_system_heap_device:chr_file r_file_perms;
allow vendor_adsprpcd vendor_dmabuf_adsp_heap_device:chr_file r_file_perms;
allow vendor_adsprpcd vendor_qdsp_device:chr_file r_file_perms;
allow vendor_adsprpcd vendor_xdsp_device:chr_file r_file_perms;
allow vendor_adsprpcd system_file:dir r_dir_perms;
allow vendor_adsprpcd vendor_persist_sensors_file:dir create_dir_perms;
allow vendor_adsprpcd vendor_persist_sensors_file:file create_file_perms;
allow vendor_adsprpcd mnt_vendor_file:dir r_dir_perms;
init_daemon_domain(vendor_adsprpcd)
r_dir_file(vendor_adsprpcd, adsprpcd_file)
get_prop(vendor_adsprpcd, vendor_adsprpc_prop)
type vendor_adsprpcd, domain;
type vendor_adsprpcd_exec, exec_type, file_type, vendor_file_type;
