allow aidl_lazy_test_server binderservicedomain:binder { call transfer };
allow aidl_lazy_test_server binderservicedomain:fd *;
allow aidl_lazy_test_server su:tcp_socket { accept getopt read write };
binder_use(aidl_lazy_test_server)
add_service(aidl_lazy_test_server, aidl_lazy_test_service)
type aidl_lazy_test_server, domain;
type aidl_lazy_test_server_exec, exec_type, file_type, system_file_type;
