neverallow hal_configstore_server *:service_manager *;
neverallow hal_configstore_server *:process ptrace;
neverallow hal_configstore_server *:file { relabelfrom relabelto };
neverallow hal_configstore_server *:dir { relabelfrom relabelto };
neverallow hal_configstore_server *:lnk_file { relabelfrom relabelto };
neverallow hal_configstore_server *:chr_file { relabelfrom relabelto };
neverallow hal_configstore_server *:blk_file { relabelfrom relabelto };
neverallow hal_configstore_server *:sock_file { relabelfrom relabelto };
neverallow hal_configstore_server *:fifo_file { relabelfrom relabelto };
neverallow init *:process noatsecure;
neverallow kernel *:file { entrypoint execute_no_trans };
neverallow vold *:process ptrace;
neverallow vold *:rawip_socket *;
neverallow { appdomain -shell } *:security { check_context compute_av };
neverallow { appdomain -shell } *:netlink_selinux_socket *;
neverallow * adbd:process dyntransition;
neverallow * self:memprotect *;
neverallow * self:capability2 mac_override;
neverallow * self:capability2 mac_admin;
neverallow * self:cap2_userns mac_override;
neverallow * self:cap2_userns mac_admin;
neverallow * self:process { execheap execstack };
neverallow * self:capability setfcap;
neverallow * self:cap_userns setfcap;
neverallow * kernel:security load_policy;
neverallow * kernel:security setenforce;
neverallow * kernel:security setbool;
neverallow * kernel:process { dyntransition transition };
neverallow * kernel:process ptrace;
neverallow * port_device:chr_file { append audit_access entrypoint execmod ioctl link lock map mounton no_x_file_perms open quotaon read relabelfrom rename watch watch_mount watch_reads watch_sb watch_with_perm write };
neverallow * init:binder *;
neverallow * init:process ptrace;
neverallow * vendor_init:binder *;
neverallow * vendor_init:process ptrace;
neverallow * *:chr_file rename;
neverallow * *:blk_file rename;
neverallow * *:sem *;
neverallow * *:msg { receive send };
neverallow * *:msgq *;
neverallow * *:shm *;
neverallow * exec_type:file mounton;
neverallow * exec_type:dir mounton;
neverallow * exec_type:lnk_file mounton;
neverallow * exec_type:chr_file mounton;
neverallow * exec_type:blk_file mounton;
neverallow * exec_type:sock_file mounton;
neverallow * exec_type:fifo_file mounton;
neverallow * rootfs:file { append create link relabelto rename setattr unlink write };
neverallow * contextmount_type:file { append create link relabelfrom relabelto rename setattr };
neverallow * contextmount_type:dir { append create link relabelfrom relabelto rename setattr };
neverallow * contextmount_type:lnk_file { append create link relabelfrom relabelto rename setattr };
neverallow * contextmount_type:chr_file { append create link relabelfrom relabelto rename setattr };
neverallow * contextmount_type:blk_file { append create link relabelfrom relabelto rename setattr };
neverallow * contextmount_type:sock_file { append create link relabelfrom relabelto rename setattr };
neverallow * contextmount_type:fifo_file { append create link relabelfrom relabelto rename setattr };
neverallow * default_android_service:service_manager *;
neverallow * default_android_vndservice:service_manager *;
neverallow * default_android_hwservice:hwservice_manager *;
neverallow * hidl_base_hwservice:hwservice_manager find;
neverallow * dev_type:lnk_file mounton;
neverallow * dev_type:sock_file mounton;
neverallow * dev_type:fifo_file mounton;
neverallow * fs_type:lnk_file mounton;
neverallow * fs_type:sock_file mounton;
neverallow * fs_type:fifo_file mounton;
neverallow * file_type:lnk_file mounton;
neverallow * file_type:sock_file mounton;
neverallow * file_type:fifo_file mounton;
neverallow * domain:file { entrypoint no_x_file_perms };
neverallow * same_process_hwservice:hwservice_manager add;
neverallow * fsck:process dyntransition;
neverallow * fsck_untrusted:process dyntransition;
neverallow * halserverdomain:process dyntransition;
neverallow * lmkd:process noatsecure;
neverallow * logd:process dyntransition;
neverallow * logpersist:process dyntransition;
neverallow * sgdisk:process dyntransition;
neverallow * toolbox:process dyntransition;
neverallow * ueventd:process ptrace;
neverallow * ~{ system_file_type system_dlkm_file_type vendor_file_type rootfs }:system module_load;
neverallow * ~hwservicemanager:hwservice_manager list;
neverallow * ~{ servicemanager vndservicemanager }:service_manager list;
neverallow * { file_type -apk_data_file -app_data_file -asec_public_file }:file execmod;
neverallow * { fs_type -contextmount_type }:filesystem relabelto;
neverallow * { file_type -exec_type -postinstall_file }:file entrypoint;
neverallow dumpstate *:process ptrace;
neverallow { domain -hwservicemanager -servicemanager -vndservicemanager } *:binder set_context_mgr;
neverallowxperm * *:ioctl file 0x0;
neverallowxperm * *:ioctl dir 0x0;
neverallowxperm * *:ioctl lnk_file 0x0;
neverallowxperm * *:ioctl blk_file 0x0;
neverallowxperm * *:ioctl sock_file 0x0;
neverallowxperm * *:ioctl fifo_file 0x0;
neverallowxperm * *:ioctl socket 0x0;
neverallowxperm * *:ioctl tcp_socket 0x0;
neverallowxperm * *:ioctl udp_socket 0x0;
neverallowxperm * *:ioctl rawip_socket 0x0;
neverallowxperm * *:ioctl netlink_socket 0x0;
neverallowxperm * *:ioctl packet_socket 0x0;
neverallowxperm * *:ioctl key_socket 0x0;
neverallowxperm * *:ioctl unix_stream_socket 0x0;
neverallowxperm * *:ioctl unix_dgram_socket 0x0;
neverallowxperm * *:ioctl netlink_route_socket 0x0;
neverallowxperm * *:ioctl netlink_tcpdiag_socket 0x0;
neverallowxperm * *:ioctl netlink_nflog_socket 0x0;
neverallowxperm * *:ioctl netlink_xfrm_socket 0x0;
neverallowxperm * *:ioctl netlink_selinux_socket 0x0;
neverallowxperm * *:ioctl netlink_audit_socket 0x0;
neverallowxperm * *:ioctl netlink_dnrt_socket 0x0;
neverallowxperm * *:ioctl netlink_kobject_uevent_socket 0x0;
neverallowxperm * *:ioctl appletalk_socket 0x0;
neverallowxperm * *:ioctl tun_socket 0x0;
neverallowxperm * *:ioctl netlink_iscsi_socket 0x0;
neverallowxperm * *:ioctl netlink_fib_lookup_socket 0x0;
neverallowxperm * *:ioctl netlink_connector_socket 0x0;
neverallowxperm * *:ioctl netlink_netfilter_socket 0x0;
neverallowxperm * *:ioctl netlink_generic_socket 0x0;
neverallowxperm * *:ioctl netlink_scsitransport_socket 0x0;
neverallowxperm * *:ioctl netlink_rdma_socket 0x0;
neverallowxperm * *:ioctl netlink_crypto_socket 0x0;
neverallowxperm * *:ioctl sctp_socket 0x0;
neverallowxperm * *:ioctl icmp_socket 0x0;
neverallowxperm * *:ioctl ax25_socket 0x0;
neverallowxperm * *:ioctl ipx_socket 0x0;
neverallowxperm * *:ioctl netrom_socket 0x0;
neverallowxperm * *:ioctl atmpvc_socket 0x0;
neverallowxperm * *:ioctl x25_socket 0x0;
neverallowxperm * *:ioctl rose_socket 0x0;
neverallowxperm * *:ioctl decnet_socket 0x0;
neverallowxperm * *:ioctl atmsvc_socket 0x0;
neverallowxperm * *:ioctl rds_socket 0x0;
neverallowxperm * *:ioctl irda_socket 0x0;
neverallowxperm * *:ioctl pppox_socket 0x0;
neverallowxperm * *:ioctl llc_socket 0x0;
neverallowxperm * *:ioctl can_socket 0x0;
neverallowxperm * *:ioctl tipc_socket 0x0;
neverallowxperm * *:ioctl bluetooth_socket 0x0;
neverallowxperm * *:ioctl iucv_socket 0x0;
neverallowxperm * *:ioctl rxrpc_socket 0x0;
neverallowxperm * *:ioctl isdn_socket 0x0;
neverallowxperm * *:ioctl phonet_socket 0x0;
neverallowxperm * *:ioctl ieee802154_socket 0x0;
neverallowxperm * *:ioctl caif_socket 0x0;
neverallowxperm * *:ioctl alg_socket 0x0;
neverallowxperm * *:ioctl nfc_socket 0x0;
neverallowxperm * *:ioctl vsock_socket 0x0;
neverallowxperm * *:ioctl kcm_socket 0x0;
neverallowxperm * *:ioctl qipcrtr_socket 0x0;
neverallowxperm * *:ioctl smc_socket 0x0;
neverallowxperm * *:ioctl xdp_socket 0x0;
neverallowxperm * devpts:ioctl chr_file 0x5412;
