neverallow { domain -atrace -dumpstate -shell -system_app -traceur_app -vendor_hal_srvctracker_client -vendor_hal_srvctracker_server } vendor_hal_servicetrackeraidl_service:service_manager find;
