neverallow { domain -atrace -dumpstate -shell -system_app -traceur_app -vendor_hal_sensorscalibrate_qti_client -vendor_hal_sensorscalibrate_qti_server } vendor_hal_sensorscalibrateaidl_service:service_manager find;
