allow shell { service_manager_type -apex_service -default_android_service -dnsresolver_service -gatekeeper_service -incident_service -installd_service -mdns_service -netd_service -system_suspend_control_internal_service -system_suspend_control_service -virtual_touchpad_service -vold_service -hal_keymint_service -hal_secureclock_service -hal_sharedsecret_service }:service_manager find;
