neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:tcp_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:udp_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:rawip_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:netlink_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:packet_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:key_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:unix_stream_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:unix_stream_socket connectto;
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:unix_dgram_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:netlink_route_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:netlink_tcpdiag_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:netlink_nflog_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:netlink_xfrm_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:netlink_selinux_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:netlink_audit_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:netlink_dnrt_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:netlink_kobject_uevent_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:appletalk_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:tun_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:netlink_iscsi_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:netlink_fib_lookup_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:netlink_connector_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:netlink_netfilter_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:netlink_generic_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:netlink_scsitransport_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:netlink_rdma_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:netlink_crypto_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:sctp_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:icmp_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:ax25_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:ipx_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:netrom_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:atmpvc_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:x25_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:rose_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:decnet_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:atmsvc_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:rds_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:irda_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:pppox_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:llc_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:can_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:tipc_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:bluetooth_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:iucv_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:rxrpc_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:isdn_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:phonet_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:ieee802154_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:caif_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:alg_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:nfc_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:vsock_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:kcm_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:qipcrtr_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:smc_socket { connect sendto };
neverallow { coredomain -adbd -init } { domain -coredomain -socket_between_core_and_vendor_violators }:xdp_socket { connect sendto };
