neverallow { domain -atrace -dumpstate -shell -system_app -traceur_app -vendor_hal_perf_client -vendor_hal_perf_server } vendor_hal_perf2_service:service_manager find;
