neverallow vold { domain -hal_bootctl_server -hal_health_storage_server -system_suspend_server -hwservicemanager -keystore -servicemanager -su -system_server }:binder call;
