neverallow { vendor_halserverdomain -vendor_hal_fstman -vendor_hal_datafactory_qti -vendor_hal_sxrservice_qti -vendor_cnd -vendor_ims_service -vendor_qtidataservices_app -vendor_dpmd_vndr -vendor_hal_dpmQmiMgr -vendor_qms -vendor_qvrd_vndr -vendor_sxrd_vndr -vendor_wifidisplayhalservice_qti } domain:tcp_socket *;
neverallow { vendor_halserverdomain -vendor_hal_fstman -vendor_hal_datafactory_qti -vendor_hal_sxrservice_qti -vendor_cnd -vendor_ims_service -vendor_qtidataservices_app -vendor_dpmd_vndr -vendor_hal_dpmQmiMgr -vendor_qms -vendor_qvrd_vndr -vendor_sxrd_vndr -vendor_wifidisplayhalservice_qti } domain:udp_socket *;
neverallow { vendor_halserverdomain -vendor_hal_fstman -vendor_hal_datafactory_qti -vendor_hal_sxrservice_qti -vendor_cnd -vendor_ims_service -vendor_qtidataservices_app -vendor_dpmd_vndr -vendor_hal_dpmQmiMgr -vendor_qms -vendor_qvrd_vndr -vendor_sxrd_vndr -vendor_wifidisplayhalservice_qti } domain:rawip_socket *;
