neverallow { domain -atrace -dumpstate -shell -system_app -traceur_app -vendor_hal_spu_client -vendor_hal_spu_server } vendor_hal_spu_service:service_manager find;
