neverallow { coredomain -data_between_core_and_vendor_violators -init } vendor_data_file:file { audit_access create entrypoint execmod link lock mounton no_x_file_perms open quotaon relabelfrom relabelto rename setattr unlink watch watch_mount watch_reads watch_sb watch_with_perm };
neverallow { coredomain -data_between_core_and_vendor_violators -init } vendor_data_file:lnk_file { audit_access create execmod execute link lock mounton open quotaon relabelfrom relabelto rename setattr unlink watch watch_mount watch_reads watch_sb watch_with_perm };
neverallow { coredomain -data_between_core_and_vendor_violators -init } vendor_data_file:chr_file { audit_access create entrypoint execmod link lock mounton no_x_file_perms open quotaon relabelfrom relabelto rename setattr unlink watch watch_mount watch_reads watch_sb watch_with_perm };
neverallow { coredomain -data_between_core_and_vendor_violators -init } vendor_data_file:blk_file { audit_access create execmod execute link lock mounton open quotaon relabelfrom relabelto rename setattr unlink watch watch_mount watch_reads watch_sb watch_with_perm };
neverallow { coredomain -data_between_core_and_vendor_violators -init } vendor_data_file:sock_file { audit_access create execmod execute link lock mounton open quotaon relabelfrom relabelto rename setattr unlink watch watch_mount watch_reads watch_sb watch_with_perm };
neverallow { coredomain -data_between_core_and_vendor_violators -init } vendor_data_file:fifo_file { audit_access create execmod execute link lock mounton open quotaon relabelfrom relabelto rename setattr unlink watch watch_mount watch_reads watch_sb watch_with_perm };
