neverallow { domain -atrace -dumpstate -shell -system_app -traceur_app -vendor_hal_debugutils_client -vendor_hal_debugutils_server } hal_debugutils_aidlservice:service_manager find;
