allow init { file_type -bpffs_type -exec_type -system_file_type -system_dlkm_file_type -vendor_file_type -system_userdir_file -vendor_userdir_file -shell_data_file -nativetest_data_file -credstore_data_file -keystore_data_file -media_userdir_file -vold_data_file -app_data_file -privapp_data_file -system_app_data_file -misc_logd_file }:dir { add_name relabelfrom remove_name rmdir write };
