neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:tcp_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:udp_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:rawip_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:netlink_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:packet_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:key_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:unix_stream_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:unix_stream_socket connectto;
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:unix_dgram_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:netlink_route_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:netlink_tcpdiag_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:netlink_nflog_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:netlink_xfrm_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:netlink_selinux_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:netlink_audit_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:netlink_dnrt_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:netlink_kobject_uevent_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:appletalk_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:tun_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:netlink_iscsi_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:netlink_fib_lookup_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:netlink_connector_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:netlink_netfilter_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:netlink_generic_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:netlink_scsitransport_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:netlink_rdma_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:netlink_crypto_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:sctp_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:icmp_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:ax25_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:ipx_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:netrom_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:atmpvc_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:x25_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:rose_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:decnet_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:atmsvc_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:rds_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:irda_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:pppox_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:llc_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:can_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:tipc_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:bluetooth_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:iucv_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:rxrpc_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:isdn_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:phonet_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:ieee802154_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:caif_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:alg_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:nfc_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:vsock_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:kcm_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:qipcrtr_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:smc_socket { connect sendto };
neverallow vendor_init { domain -init -logd -prng_seeder -su -vendor_init }:xdp_socket { connect sendto };
