allow apexd su:tcp_socket { accept getopt read write };
binder_use(apexd)
add_service(apexd, apex_service)
type apexd, domain;
type apexd_exec, exec_type, file_type, system_file_type;
