neverallow appdomain dev_type:blk_file { read write };
neverallow appdomain dev_type:lnk_file no_w_file_perms;
neverallow appdomain tee_device:chr_file { read write };
neverallow appdomain socket_device:sock_file write;
neverallow appdomain adbd_socket:sock_file write;
neverallow appdomain rootfs:file { no_w_file_perms relabelto };
neverallow appdomain rootfs:dir { no_w_file_perms relabelto };
neverallow appdomain rootfs:lnk_file { no_w_file_perms relabelto };
neverallow appdomain rootfs:lnk_file no_w_file_perms;
neverallow appdomain rootfs:chr_file { no_w_file_perms relabelto };
neverallow appdomain rootfs:blk_file { no_w_file_perms relabelto };
neverallow appdomain rootfs:sock_file { no_w_file_perms relabelto };
neverallow appdomain rootfs:fifo_file { no_w_file_perms relabelto };
neverallow appdomain system_file:file { no_w_file_perms relabelto };
neverallow appdomain system_file:dir { no_w_file_perms relabelto };
neverallow appdomain system_file:lnk_file { no_w_file_perms relabelto };
neverallow appdomain system_file:lnk_file no_w_file_perms;
neverallow appdomain system_file:chr_file { no_w_file_perms relabelto };
neverallow appdomain system_file:blk_file { no_w_file_perms relabelto };
neverallow appdomain system_file:sock_file { no_w_file_perms relabelto };
neverallow appdomain system_file:fifo_file { no_w_file_perms relabelto };
neverallow appdomain exec_type:file { no_w_file_perms relabelto };
neverallow appdomain system_data_file:file { no_w_file_perms relabelto };
neverallow appdomain system_data_file:dir { no_w_file_perms relabelto };
neverallow appdomain system_data_file:lnk_file { no_w_file_perms relabelto };
neverallow appdomain system_data_file:chr_file { no_w_file_perms relabelto };
neverallow appdomain system_data_file:blk_file { no_w_file_perms relabelto };
neverallow appdomain system_data_file:sock_file { no_w_file_perms relabelto };
neverallow appdomain system_data_file:fifo_file { no_w_file_perms relabelto };
neverallow appdomain drm_data_file:file { no_w_file_perms relabelto };
neverallow appdomain drm_data_file:dir { no_w_file_perms relabelto };
neverallow appdomain drm_data_file:lnk_file { no_w_file_perms relabelto };
neverallow appdomain drm_data_file:chr_file { no_w_file_perms relabelto };
neverallow appdomain drm_data_file:blk_file { no_w_file_perms relabelto };
neverallow appdomain drm_data_file:sock_file { no_w_file_perms relabelto };
neverallow appdomain drm_data_file:fifo_file { no_w_file_perms relabelto };
neverallow appdomain keystore_data_file:file { no_w_file_perms relabelto };
neverallow appdomain keystore_data_file:dir { no_w_file_perms relabelto };
neverallow appdomain keystore_data_file:lnk_file { no_w_file_perms relabelto };
neverallow appdomain keystore_data_file:chr_file { no_w_file_perms relabelto };
neverallow appdomain keystore_data_file:blk_file { no_w_file_perms relabelto };
neverallow appdomain keystore_data_file:sock_file { no_w_file_perms relabelto };
neverallow appdomain keystore_data_file:fifo_file { no_w_file_perms relabelto };
neverallow appdomain systemkeys_data_file:file { no_w_file_perms relabelto };
neverallow appdomain systemkeys_data_file:dir { no_w_file_perms relabelto };
neverallow appdomain systemkeys_data_file:lnk_file { no_w_file_perms relabelto };
neverallow appdomain systemkeys_data_file:chr_file { no_w_file_perms relabelto };
neverallow appdomain systemkeys_data_file:blk_file { no_w_file_perms relabelto };
neverallow appdomain systemkeys_data_file:sock_file { no_w_file_perms relabelto };
neverallow appdomain systemkeys_data_file:fifo_file { no_w_file_perms relabelto };
neverallow appdomain wifi_data_file:file { no_w_file_perms relabelto };
neverallow appdomain wifi_data_file:dir { no_w_file_perms relabelto };
neverallow appdomain wifi_data_file:lnk_file { no_w_file_perms relabelto };
neverallow appdomain wifi_data_file:chr_file { no_w_file_perms relabelto };
neverallow appdomain wifi_data_file:blk_file { no_w_file_perms relabelto };
neverallow appdomain wifi_data_file:sock_file { no_w_file_perms relabelto };
neverallow appdomain wifi_data_file:fifo_file { no_w_file_perms relabelto };
neverallow appdomain dhcp_data_file:file { no_w_file_perms relabelto };
neverallow appdomain dhcp_data_file:dir { no_w_file_perms relabelto };
neverallow appdomain dhcp_data_file:lnk_file { no_w_file_perms relabelto };
neverallow appdomain dhcp_data_file:chr_file { no_w_file_perms relabelto };
neverallow appdomain dhcp_data_file:blk_file { no_w_file_perms relabelto };
neverallow appdomain dhcp_data_file:sock_file { no_w_file_perms relabelto };
neverallow appdomain dhcp_data_file:fifo_file { no_w_file_perms relabelto };
neverallow appdomain efs_file:file write;
neverallow appdomain efs_file:dir write;
neverallow appdomain efs_file:lnk_file write;
neverallow appdomain efs_file:chr_file write;
neverallow appdomain efs_file:blk_file write;
neverallow appdomain efs_file:sock_file write;
neverallow appdomain efs_file:fifo_file write;
neverallow appdomain proc:file write;
neverallow appdomain proc:dir write;
neverallow appdomain proc:lnk_file write;
neverallow appdomain proc:chr_file write;
neverallow appdomain proc:blk_file write;
neverallow appdomain proc:sock_file write;
neverallow appdomain proc:fifo_file write;
neverallow appdomain kernel:system { syslog_console syslog_mod syslog_read };
neverallow appdomain fs_type:filesystem { associate mount quotaget quotamod relabelfrom relabelto remount unmount watch };
neverallow appdomain tmpfs:lnk_file no_w_file_perms;
neverallow appdomain apk_data_file:lnk_file no_w_file_perms;
neverallow appdomain cache_file:lnk_file no_w_file_perms;
neverallow appdomain cache_recovery_file:lnk_file no_w_file_perms;
neverallow appdomain proc_uid_time_in_state:file *;
neverallow appdomain proc_uid_concurrent_active_time:file *;
neverallow appdomain proc_uid_concurrent_policy_time:file *;
neverallow appdomain proc_uid_cpupower:file *;
neverallow appdomain system_bootstrap_lib_file:file { append map no_x_file_perms open read write };
neverallow appdomain system_bootstrap_lib_file:dir { getattr open read search };
allow appdomain cameraserver:binder transfer;
allow appdomain system_file:file { execute getattr map open read };
allow appdomain system_data_file:dir getattr;
allow appdomain system_userdir_file:dir { getattr search };
allow appdomain media_userdir_file:dir search;
allow appdomain drmserver:binder transfer;
allow appdomain dumpstate:binder transfer;
allow appdomain mediadrmserver:binder transfer;
allow appdomain mediaextractor:binder transfer;
allow appdomain mediaserver:binder transfer;
allow appdomain statsd:binder transfer;
allow appdomain vendor_npu_device:chr_file r_file_perms;
allow appdomain zygote:unix_dgram_socket getopt;
allow appdomain vendor_qdsp_device:chr_file { ioctl read };
dontaudit appdomain vendor_hal_qspmhal_hwservice:hwservice_manager find;
dontaudit appdomain vendor_gles_data_file:dir search;
dontaudit appdomain vendor_gles_data_file:file *;
attribute appdomain;
get_prop(appdomain, vendor_camera_prop)
get_prop(appdomain, vendor_adsprpc_prop)
get_prop(appdomain, vendor_display_prop)
get_prop(appdomain, vendor_iop_prop)
