allow vendor_biometricsface vendor_dmabuf_system_heap_device:chr_file r_file_perms;
allow vendor_biometricsface vendor_dmabuf_user_contig_heap_device:chr_file r_file_perms;
allow vendor_biometricsface vendor_dmabuf_secure_cdsp_heap_device:chr_file r_file_perms;
allow vendor_biometricsface tee_device:chr_file rw_file_perms;
allow vendor_biometricsface sdcard_type:dir rw_dir_perms;
allow vendor_biometricsface sdcard_type:file create_file_perms;
allow vendor_biometricsface vendor_biometricsface_data_file:dir create_dir_perms;
allow vendor_biometricsface vendor_biometricsface_data_file:file create_file_perms;
allow vendor_biometricsface fwk_camera_hwservice:hwservice_manager find;
allow vendor_biometricsface hidl_token_hwservice:hwservice_manager find;
dontaudit vendor_biometricsface system_file:file *;
init_daemon_domain(vendor_biometricsface)
r_dir_file(vendor_biometricsface, adsprpcd_file)
get_prop(vendor_biometricsface, vendor_face3d_producer_prop)
get_prop(vendor_biometricsface, vendor_adsprpc_prop)
hal_server_domain(vendor_biometricsface, hal_face)
hal_client_domain(vendor_biometricsface, hal_graphics_allocator)
type vendor_biometricsface, domain;
type vendor_biometricsface_exec, exec_type, file_type, vendor_file_type;
