allow bootanim surfaceflinger:binder { call transfer };
allow bootanim surfaceflinger:fd *;
allow bootanim surfaceflinger:unix_stream_socket { read write };
allow bootanim audioserver:binder { call transfer };
allow bootanim audioserver:binder transfer;
allow bootanim audioserver:fd *;
allow bootanim hwservicemanager:binder call;
allow bootanim gpu_device:chr_file rw_file_perms;
allow bootanim gpu_device:dir r_dir_perms;
allow bootanim sysfs_gpu:file r_file_perms;
allow bootanim oemfs:dir search;
allow bootanim oemfs:file r_file_perms;
allow bootanim audio_device:dir r_dir_perms;
allow bootanim audio_device:chr_file rw_file_perms;
allow bootanim audioserver_service:service_manager find;
allow bootanim surfaceflinger_service:service_manager find;
allow bootanim ion_device:chr_file rw_file_perms;
allow bootanim dmabuf_system_heap_device:chr_file r_file_perms;
allow bootanim hal_graphics_allocator:fd *;
allow bootanim hal_graphics_composer:fd *;
allow bootanim proc_meminfo:file r_file_perms;
allow bootanim system_file:dir r_dir_perms;
dontaudit bootanim system_data_file:dir read;
dontaudit bootanim vendor_hal_qspmhal_hwservice:hwservice_manager find;
binder_use(bootanim)
hwbinder_use(bootanim)
hal_client_domain(bootanim, hal_configstore)
hal_client_domain(bootanim, hal_graphics_allocator)
hal_client_domain(bootanim, hal_graphics_composer)
type bootanim, domain;
type bootanim_exec, exec_type, file_type, system_file_type;
