allow charon tunneldomain:tun_socket relabelfrom;
allow charon self:tun_socket { create_socket_perms_no_ioctl relabelto };
allow charon self:tun_socket create;
allow charon self:netlink_route_socket nlmsg_write;
allow charon self:netlink_xfrm_socket { create_socket_perms_no_ioctl nlmsg_read nlmsg_write };
allow charon self:netlink_xfrm_socket ioctl;
allow charon self:capability { net_admin net_bind_service setuid };
allow charon tun_device:chr_file rw_file_perms;
allow charon kernel:system module_request;
allow charon keystore:keystore_key { get sign verify };
allow charon keystore:binder { call transfer };
allow charon keystore:binder transfer;
allow charon keystore:fd *;
allow charon proc:dir r_dir_perms;
allow charon cgroup:dir create_dir_perms;
allow charon cgroup:file rw_file_perms;
allow charon proc_net:dir r_dir_perms;
allow charon proc_net:file rw_file_perms;
allow charon net_data_file:dir r_dir_perms;
allow charon net_data_file:file r_file_perms;
allow charon system_file:dir r_dir_perms;
allow charon system_file:file rx_file_perms;
allow charon vpn_data_file:dir create_dir_perms;
allow charon vpn_data_file:file create_file_perms;
allow charon vpn_data_file:lnk_file create_file_perms;
allow charon vpn_data_file:sock_file create_file_perms;
allow charon vpn_data_file:fifo_file create_file_perms;
allow charon keystore_service:service_manager find;
allow charon shell_exec:file x_file_perms;
allow charon dumplog_data_file:dir create_dir_perms;
allow charon dumplog_data_file:file create_file_perms;
allow charon vendor_file:dir r_dir_perms;
allow charon nativetest_data_file:dir r_dir_perms;
allow charon shell_data_file:dir { getattr read };
allowxperm charon self:ioctl udp_socket { 0x8914 0x8922 };
allowxperm charon self:ioctl netlink_xfrm_socket 0x8946;
allowxperm charon tun_device:ioctl chr_file 0x54ca;
set_prop(charon, exported_system_prop)
binder_use(charon)
type charon, coredomain, domain, tunneldomain;
type charon_exec, exec_type, file_type, system_file_type;
