allow crash_dump logd:process { ptrace sigchld sigkill signal sigstop };
allow crash_dump kmsg_debug_device:chr_file { append open };
allow crash_dump domain:fd *;
allow crash_dump domain:fifo_file { read write };
allow crash_dump domain:fifo_file append;
allow crash_dump domain:process getattr;
allow crash_dump exec_type:file r_file_perms;
allow crash_dump dalvikcache_data_file:dir { getattr search };
allow crash_dump dalvikcache_data_file:file r_file_perms;
allow crash_dump apex_module_data_file:dir { getattr search };
allow crash_dump proc_uptime:file r_file_perms;
allow crash_dump anr_data_file:file { append getattr };
allow crash_dump tombstone_data_file:file { append getattr };
dontaudit crash_dump self:capability sys_ptrace;
dontaudit crash_dump self:cap_userns sys_ptrace;
dontaudit crash_dump core_data_file_type:dir search;
dontaudit crash_dump vendor_file_type:dir search;
dontaudit crash_dump system_data_file:file read;
dontaudit crash_dump system_data_file:lnk_file read;
dontaudit crash_dump property_type:file read;
r_dir_file(crash_dump, domain)
r_dir_file(crash_dump, apk_data_file)
r_dir_file(crash_dump, vendor_file)
r_dir_file(crash_dump, same_process_hal_file)
r_dir_file(crash_dump, shell_test_data_file)
unix_socket_connect(crash_dump, tombstoned_crash, logd)
unix_socket_connect(crash_dump, tombstoned_crash, tombstoned)
unix_socket_connect(crash_dump, tombstoned_crash, system_server)
unix_socket_connect(crash_dump, system_ndebug, logd)
unix_socket_connect(crash_dump, system_ndebug, tombstoned)
unix_socket_connect(crash_dump, system_ndebug, system_server)
unix_socket_connect(crash_dump, logdr, logd)
unix_socket_connect(crash_dump, logdr, tombstoned)
unix_socket_connect(crash_dump, logdr, system_server)
type crash_dump, domain;
type crash_dump_exec, exec_type, file_type, system_file_type;
