attribute display_service_server;
add_hwservice(display_service_server, fwk_display_hwservice)
type display_service, app_api_service, ephemeral_app_api_service, service_manager_type, system_server_service;
