type dmabuf_system_heap_device, dev_type, dmabuf_heap_device_type, isolated_compute_allowed_device, mlstrustedobject;
type vendor_dmabuf_system_heap_device, dev_type, dmabuf_heap_device_type, mlstrustedobject;
