allow fsck tmpfs:chr_file { ioctl read write };
allow fsck devpts:chr_file { getattr ioctl read write };
allow fsck vold:fd *;
allow fsck vold:fifo_file { getattr read write };
allow fsck userdata_block_device:blk_file rw_file_perms;
allow fsck cache_block_device:blk_file rw_file_perms;
allow fsck dm_device:blk_file rw_file_perms;
allow fsck zoned_block_device:blk_file rw_file_perms;
allow fsck system_block_device:blk_file rw_file_perms;
allow fsck metadata_file:dir getattr;
allow fsck block_device:dir search;
allow fsck mirror_data_file:dir search;
allow fsck dev_type:blk_file getattr;
allow fsck proc_mounts:file r_file_perms;
allow fsck proc_swaps:file r_file_perms;
allow fsck sysfs_dm:file r_file_perms;
allow fsck sysfs_dm:dir r_dir_perms;
allow fsck rootfs:dir r_dir_perms;
allow fsck vendor_persist_block_device:blk_file rw_file_perms;
allow fsck vendor_qmcs_block_device:blk_file rw_file_perms;
allow fsck vendor_custom_ab_block_device:blk_file rw_file_perms;
allow fsck vendor_sysfs_mmc_host:dir r_dir_perms;
allow fsck vendor_sysfs_mmc_host:file r_file_perms;
dontaudit fsck self:capability kill;
allowxperm fsck dev_type:ioctl blk_file { 0x125e 0x127c 0x1282 };
allowxperm fsck vendor_qmcs_block_device:ioctl blk_file 0x1260;
type fsck, domain;
type fsck_exec, exec_type, file_type, system_file_type;
