allow vendor_hal_capabilityconfigstore_qti_client vendor_hal_capabilityconfigstore_qti_server:binder { call transfer };
allow vendor_hal_capabilityconfigstore_qti_client vendor_hal_capabilityconfigstore_qti_server:binder transfer;
allow vendor_hal_capabilityconfigstore_qti_client vendor_hal_capabilityconfigstore_qti_server:fd *;
allow vendor_hal_capabilityconfigstore_qti_server vendor_hal_capabilityconfigstore_qti_client:binder transfer;
allow vendor_hal_capabilityconfigstore_qti_server vendor_hal_capabilityconfigstore_qti_client:binder { call transfer };
allow vendor_hal_capabilityconfigstore_qti_server vendor_hal_capabilityconfigstore_qti_client:fd *;
allow vendor_hal_capabilityconfigstore_qti_default vendor_capabilityconfigstore_data_file:file rw_file_perms;
allow vendor_hal_capabilityconfigstore_qti_default vendor_capabilityconfigstore_data_file:dir rw_dir_perms;
dontaudit vendor_hal_capabilityconfigstore_qti_default vendor_pd_locater_dbg_prop:file { getattr ioctl lock map open read watch watch_reads };
dontaudit vendor_hal_capabilityconfigstore_qti_default vendor_cap_configstore_dbg_prop:file { getattr ioctl lock map open read watch watch_reads };
attribute vendor_hal_capabilityconfigstore_qti;
attribute vendor_hal_capabilityconfigstore_qti_client;
attribute vendor_hal_capabilityconfigstore_qti_server;
init_daemon_domain(vendor_hal_capabilityconfigstore_qti_default)
get_prop(vendor_hal_capabilityconfigstore_qti_default, vendor_cap_configstore_dbg_prop)
hal_server_domain(vendor_hal_capabilityconfigstore_qti_default, vendor_hal_capabilityconfigstore_qti)
hal_attribute_hwservice(vendor_hal_capabilityconfigstore_qti, vendor_hal_capabilityconfigstore_qti_hwservice)
type vendor_hal_capabilityconfigstore_qti_default, domain;
type vendor_hal_capabilityconfigstore_qti_default_exec, exec_type, file_type, vendor_file_type;
type vendor_hal_capabilityconfigstore_qti_hwservice, hwservice_manager_type, protected_hwservice;
