allow vendor_hal_datafactory_qti_client vendor_hal_datafactory_qti_server:binder { call transfer };
allow vendor_hal_datafactory_qti_client vendor_hal_datafactory_qti_server:binder transfer;
allow vendor_hal_datafactory_qti_client vendor_hal_datafactory_qti_server:fd *;
allow vendor_hal_datafactory_qti_client vendor_hal_factory_aidlservice:service_manager find;
allow vendor_hal_datafactory_qti_server vendor_hal_datafactory_qti_client:binder transfer;
allow vendor_hal_datafactory_qti_server vendor_hal_datafactory_qti_client:binder { call transfer };
allow vendor_hal_datafactory_qti_server vendor_hal_datafactory_qti_client:fd *;
allow vendor_hal_datafactory_qti_server su:tcp_socket { accept getopt read write };
attribute vendor_hal_datafactory_qti;
attribute vendor_hal_datafactory_qti_client;
attribute vendor_hal_datafactory_qti_server;
add_service(vendor_hal_datafactory_qti_server, vendor_hal_factory_aidlservice)
hal_attribute_hwservice(vendor_hal_datafactory_qti, vendor_hal_datafactory_hwservice)
type vendor_hal_datafactory_hwservice, hwservice_manager_type, protected_hwservice;
