expandtypeattribute(hal_rebootescrow)
expandtypeattribute(hal_rebootescrow_client)
expandtypeattribute(hal_rebootescrow_server)
allow hal_rebootescrow_server dumpstate:fifo_file write;
allow hal_rebootescrow_server dumpstate:fd *;
allow hal_rebootescrow_server hal_rebootescrow_client:binder transfer;
allow hal_rebootescrow_server su:tcp_socket { accept getopt read write };
allow hal_rebootescrow_client hal_rebootescrow_server:binder { call transfer };
allow hal_rebootescrow_client hal_rebootescrow_server:fd *;
allow hal_rebootescrow_default rebootescrow_device:chr_file rw_file_perms;
allow hal_rebootescrow_default rebootescrow_device:blk_file rw_file_perms;
allow hal_rebootescrow_default block_device:dir search;
init_daemon_domain(hal_rebootescrow_default)
get_prop(hal_rebootescrow_default, rebootescrow_hal_prop)
binder_use(hal_rebootescrow_server)
hal_server_domain(hal_rebootescrow_default, hal_rebootescrow)
hal_attribute_service(hal_rebootescrow, hal_rebootescrow_service)
type hal_rebootescrow_default, domain;
type hal_rebootescrow_default_exec, exec_type, file_type, vendor_file_type;
