allow vendor_hal_perf_default vendor_tzas_app:binder transfer;
allow vendor_hal_perf_default cgroup:file r_file_perms;
allow vendor_hal_perf_default proc:file rw_file_perms;
allow vendor_hal_perf_default vendor_mpctl_data_file:dir rw_dir_perms;
allow vendor_hal_perf_default vendor_mpctl_data_file:file create_file_perms;
allow vendor_hal_perf_default vendor_lm_data_file:dir rw_dir_perms;
allow vendor_hal_perf_default vendor_lm_data_file:file create_file_perms;
allow vendor_hal_perf_default vendor_sysfs_lib:file w_file_perms;
allow vendor_hal_perf_default proc_meminfo:file r_file_perms;
allow vendor_hal_perf_default self:netlink_generic_socket create_socket_perms_no_ioctl;
allow vendor_hal_perf_default self:capability kill;
allow vendor_hal_perf_default self:capability { setuid sys_nice };
allow vendor_hal_perf_default self:capability sys_nice;
allow vendor_hal_perf_default appdomain:process getpgid;
allow vendor_hal_perf_default appdomain:process setsched;
allow vendor_hal_perf_default appdomain:process getsched;
allow vendor_hal_perf_default appdomain:process sigkill;
allow vendor_hal_perf_default appdomain:file rw_file_perms;
allow vendor_hal_perf_default graphics_device:chr_file rw_file_perms;
allow vendor_hal_perf_default block_device:dir { open read search };
allow vendor_hal_perf_default proc_diskstats:file { getattr open read };
allow vendor_hal_perf_default surfaceflinger:process setsched;
allow vendor_hal_perf_default hal_graphics_composer_default:process setsched;
allow vendor_hal_perf_default vendor_hal_poweroptservice:binder { call transfer };
allow vendor_hal_perf_default vendor_hal_poweroptservice:fd *;
allow vendor_hal_perf_client vendor_hal_perf_server:binder { call transfer };
allow vendor_hal_perf_client vendor_hal_perf_server:fd *;
allow vendor_hal_perf_client vendor_hal_perf2_service:service_manager find;
allow vendor_hal_perf_client vendor_hal_perf_hwservice:hwservice_manager find;
allow vendor_hal_perf_server vendor_hal_perf_client:binder transfer;
allow vendor_hal_perf_server su:tcp_socket { accept getopt read write };
allow vendor_hal_perf_server servicemanager:binder { call transfer };
allow vendor_hal_perf_server servicemanager:fd *;
allow vendor_hal_perf vendor_latency_device:chr_file rw_file_perms;
allow vendor_hal_perf sysfs_devices_system_cpu:dir r_dir_perms;
allow vendor_hal_perf sysfs_devices_system_cpu:file rw_file_perms;
allow vendor_hal_perf vendor_sysfs_battery_supply:dir r_dir_perms;
allow vendor_hal_perf vendor_sysfs_battery_supply:file rw_file_perms;
allow vendor_hal_perf vendor_sysfs_cpu_boost:dir r_dir_perms;
allow vendor_hal_perf vendor_sysfs_cpu_boost:file rw_file_perms;
allow vendor_hal_perf vendor_sysfs_devfreq:dir r_dir_perms;
allow vendor_hal_perf vendor_sysfs_devfreq:file rw_file_perms;
allow vendor_hal_perf vendor_sysfs_devfreq:lnk_file r_file_perms;
allow vendor_hal_perf vendor_sysfs_graphics:dir r_dir_perms;
allow vendor_hal_perf vendor_sysfs_graphics:file rw_file_perms;
allow vendor_hal_perf vendor_sysfs_kgsl:dir r_dir_perms;
allow vendor_hal_perf vendor_sysfs_kgsl:file rw_file_perms;
allow vendor_hal_perf vendor_sysfs_kgsl:lnk_file r_file_perms;
allow vendor_hal_perf vendor_sysfs_kgsl_proc:dir r_dir_perms;
allow vendor_hal_perf vendor_sysfs_kgsl_proc:file rw_file_perms;
allow vendor_hal_perf vendor_sysfs_mmc_host:dir r_dir_perms;
allow vendor_hal_perf vendor_sysfs_mmc_host:file rw_file_perms;
allow vendor_hal_perf vendor_sysfs_mmc_host:lnk_file r_file_perms;
allow vendor_hal_perf vendor_sysfs_msm_perf:dir r_dir_perms;
allow vendor_hal_perf vendor_sysfs_msm_perf:file rw_file_perms;
allow vendor_hal_perf vendor_sysfs_msm_power:dir r_dir_perms;
allow vendor_hal_perf vendor_sysfs_msm_power:file rw_file_perms;
allow vendor_hal_perf vendor_sysfs_scsi_host:dir r_dir_perms;
allow vendor_hal_perf vendor_sysfs_scsi_host:file rw_file_perms;
allow vendor_hal_perf vendor_sysfs_scsi_host:lnk_file r_file_perms;
allow vendor_hal_perf vendor_sysfs_memory:dir r_dir_perms;
allow vendor_hal_perf vendor_sysfs_memory:file rw_file_perms;
allow vendor_hal_perf vendor_sysfs_process_reclaim:dir r_dir_perms;
allow vendor_hal_perf vendor_sysfs_process_reclaim:file rw_file_perms;
allow vendor_hal_perf vendor_sysfs_mpctl:dir r_dir_perms;
allow vendor_hal_perf vendor_sysfs_mpctl:file rw_file_perms;
allow vendor_hal_perf vendor_sysfs_qfprom:dir r_dir_perms;
allow vendor_hal_perf vendor_sysfs_qfprom:file rw_file_perms;
allow vendor_hal_perf sysfs_dm:file rw_file_perms;
allow vendor_hal_perf vendor_qdisplay_service:service_manager find;
dontaudit vendor_hal_perf_default self:capability dac_override;
dontaudit vendor_hal_perf_default system_server:dir search;
attribute vendor_hal_perf;
attribute vendor_hal_perf_client;
attribute vendor_hal_perf_server;
init_daemon_domain(vendor_hal_perf_default)
r_dir_file(vendor_hal_perf_default, appdomain)
r_dir_file(vendor_hal_perf_default, system_server)
unix_socket_connect(vendor_hal_perf_default, property, vendor_thermal-engine)
unix_socket_connect(vendor_hal_perf_default, vendor_thermal, init)
unix_socket_connect(vendor_hal_perf_default, vendor_thermal, vendor_thermal-engine)
get_prop(vendor_hal_perf, vendor_freq_prop)
get_prop(vendor_hal_perf, vendor_mpctl_prop)
set_prop(vendor_hal_perf_default, vendor_mpctl_prop)
set_prop(vendor_hal_perf_default, vendor_wlc_public_prop)
set_prop(vendor_hal_perf_default, vendor_procomp_prop)
vndbinder_use(vendor_hal_perf)
hal_server_domain(vendor_hal_perf_default, vendor_hal_perf)
hal_client_domain(vendor_hal_perf_default, hal_allocator)
hal_client_domain(vendor_hal_perf_default, hal_graphics_composer)
hal_client_domain(vendor_hal_perf_default, hal_thermal)
hal_client_domain(vendor_hal_perf_default, vendor_hal_qspmhal)
hal_client_domain(vendor_hal_perf_default, vendor_hal_iop)
hal_client_domain(vendor_hal_perf_default, vendor_hal_srvctracker)
hal_client_domain(vendor_hal_perf_default, vendor_hal_mem_pasrmanager)
hal_client_domain(vendor_hal_perf_default, vendor_hal_poweroptservice)
add_service(vendor_hal_perf_server, vendor_hal_perf2_service)
add_hwservice(vendor_hal_perf_server, vendor_hal_perf_hwservice)
type vendor_hal_perf_default, domain, mlstrustedsubject;
type vendor_hal_perf_default_exec, exec_type, file_type, vendor_file_type;
type vendor_hal_perf_hwservice, hwservice_manager_type, protected_hwservice;
