allow hal_wificfr_client hal_wificfr_server:binder { call transfer };
allow hal_wificfr_client hal_wificfr_server:binder transfer;
allow hal_wificfr_client hal_wificfr_server:fd *;
allow hal_wificfr_client hal_wificfr_service:service_manager find;
allow hal_wificfr_server hal_wificfr_client:binder transfer;
allow hal_wificfr_server hal_wificfr_client:binder { call transfer };
allow hal_wificfr_server hal_wificfr_client:fd *;
allow hal_wificfr_server su:tcp_socket { accept getopt read write };
allow hal_wificfr self:netlink_generic_socket create_socket_perms_no_ioctl;
add_service(hal_wificfr_server, hal_wificfr_service)
type hal_wificfr_hwservice, hwservice_manager_type, protected_hwservice;
