allow vendor_hal_qspmhal_default vendor_qspmhal_data_file:file create_file_perms;
allow vendor_hal_qspmhal_default vendor_qspmhal_data_file:file { open write };
allow vendor_hal_qspmhal_default vendor_qspmhal_data_file:dir rw_dir_perms;
allow vendor_hal_qspmhal_default vendor_qspmhal_data_file:dir { add_name create getattr open read remove_name unlink write };
allow vendor_hal_qspmhal_client vendor_hal_qspmhal_server:binder { call transfer };
allow vendor_hal_qspmhal_client vendor_hal_qspmhal_server:binder transfer;
allow vendor_hal_qspmhal_client vendor_hal_qspmhal_server:fd *;
allow vendor_hal_qspmhal_client vendor_hal_qspmhal_service:service_manager find;
allow vendor_hal_qspmhal_server vendor_hal_qspmhal_client:binder transfer;
allow vendor_hal_qspmhal_server vendor_hal_qspmhal_client:binder { call transfer };
allow vendor_hal_qspmhal_server vendor_hal_qspmhal_client:fd *;
allow vendor_hal_qspmhal_server su:tcp_socket { accept getopt read write };
allow vendor_hal_qspmhal_server servicemanager:binder { call transfer };
allow vendor_hal_qspmhal_server servicemanager:fd *;
attribute vendor_hal_qspmhal;
attribute vendor_hal_qspmhal_client;
attribute vendor_hal_qspmhal_server;
init_daemon_domain(vendor_hal_qspmhal_default)
get_prop(vendor_hal_qspmhal_default, vendor_qspm_dbg_prop)
hal_server_domain(vendor_hal_qspmhal_default, vendor_hal_qspmhal)
hal_client_domain(vendor_hal_qspmhal_default, hal_allocator)
add_service(vendor_hal_qspmhal_server, vendor_hal_qspmhal_service)
hal_attribute_hwservice(vendor_hal_qspmhal, vendor_hal_qspmhal_hwservice)
type vendor_hal_qspmhal_default, domain, untrusted_app_visible_halserver_violators;
type vendor_hal_qspmhal_default_exec, exec_type, file_type, vendor_file_type;
type vendor_hal_qspmhal_hwservice, hwservice_manager_type;
