allow vendor_hal_qspa_default dumpstate:binder transfer;
allow vendor_hal_qspa_default vendor_sysfs_devicetree_cpu:dir { open read search };
allow vendor_hal_qspa_qti_client vendor_hal_qspa_service:service_manager find;
allow vendor_hal_qspa_qti_client vendor_hal_qspa_qti_server:binder transfer;
allow vendor_hal_qspa_qti_client vendor_hal_qspa_qti_server:binder { call transfer };
allow vendor_hal_qspa_qti_client vendor_hal_qspa_qti_server:fd *;
allow vendor_hal_qspa_qti_server su:tcp_socket { accept getopt read write };
allow vendor_hal_qspa_qti_server vendor_hal_qspa_qti_client:binder { call transfer };
allow vendor_hal_qspa_qti_server vendor_hal_qspa_qti_client:binder transfer;
allow vendor_hal_qspa_qti_server vendor_hal_qspa_qti_client:fd *;
attribute vendor_hal_qspa_qti;
attribute vendor_hal_qspa_qti_client;
attribute vendor_hal_qspa_qti_server;
init_daemon_domain(vendor_hal_qspa_default)
binder_use(vendor_hal_qspa_default)
binder_use(vendor_hal_qspa_qti_client)
hal_server_domain(vendor_hal_qspa_default, vendor_hal_qspa_qti)
add_service(vendor_hal_qspa_qti_server, vendor_hal_qspa_service)
type vendor_hal_qspa_default, domain;
type vendor_hal_qspa_default_exec, exec_type, file_type, vendor_file_type;
