allow hal_tee_client hal_tee_server:binder { call transfer };
allow hal_tee_client hal_tee_server:binder transfer;
allow hal_tee_client hal_tee_server:fd *;
allow hal_tee_client hal_tee_hwservice:hwservice_manager find;
allow hal_tee_server hal_tee_client:binder transfer;
allow hal_tee_server hal_tee_client:binder { call transfer };
allow hal_tee_server hal_tee_client:fd *;
allow hal_tee_default hidl_memory_hwservice:hwservice_manager find;
allow hal_tee_default mobicore_user_device:chr_file rw_file_perms;
allow hal_tee_default untrusted_app_all:fd *;
allow hal_tee_default teeregistryd_app:fd *;
allow hal_tee_default trustonicpartner_app:fd *;
allow hal_tee_default mobicore_tui_device:chr_file { ioctl open read };
allow hal_tee_default system_server:fd *;
allow hal_tee_default tsdaemon:fd *;
allow hal_tee_default dumplog_data_file:file { read write };
allow hal_tee_default hal_graphics_allocator_default:fd *;
allow hal_tee_default ion_device:chr_file r_file_perms;
allow hal_tee_default sec_debugfs:dir search;
init_daemon_domain(hal_tee_default)
hal_server_domain(hal_tee_default, hal_tee)
hal_client_domain(hal_tee_default, hal_allocator)
add_hwservice(hal_tee_server, hal_tee_hwservice)
type hal_tee_default, domain;
type hal_tee_default_exec, exec_type, file_type, vendor_file_type;
type hal_tee_hwservice, hwservice_manager_type;
