allow vendor_hal_wigig_client vendor_hal_wigig_server:binder { call transfer };
allow vendor_hal_wigig_client vendor_hal_wigig_server:binder transfer;
allow vendor_hal_wigig_client vendor_hal_wigig_server:fd *;
allow vendor_hal_wigig_server vendor_hal_wigig_client:binder transfer;
allow vendor_hal_wigig_server vendor_hal_wigig_client:binder { call transfer };
allow vendor_hal_wigig_server vendor_hal_wigig_client:fd *;
allow vendor_hal_wigig vendor_wifi_vendor_data_file:dir rw_dir_perms;
allow vendor_hal_wigig vendor_wifi_vendor_data_file:file create_file_perms;
allow vendor_hal_wigig hostapd_data_file:dir rw_dir_perms;
allow vendor_hal_wigig hostapd_data_file:file create_file_perms;
allow vendor_hal_wigig hal_wifi_supplicant:unix_dgram_socket sendto;
allow vendor_hal_wigig hal_wifi_hostapd_default:unix_dgram_socket sendto;
allow vendor_hal_wigig vendor_wifi_vendor_wpa_socket:dir rw_dir_perms;
allow vendor_hal_wigig vendor_wifi_vendor_wpa_socket:sock_file create_file_perms;
allow vendor_hal_wigig vendor_wigig_vendor_wpa_socket:sock_file rw_file_perms;
allow vendor_hal_wigig vendor_wigig_hostapd_socket:dir rw_dir_perms;
allow vendor_hal_wigig vendor_wigig_hostapd_socket:sock_file create_file_perms;
allow vendor_hal_wigig proc_modules:file r_file_perms;
attribute vendor_hal_wigig;
attribute vendor_hal_wigig_client;
attribute vendor_hal_wigig_server;
r_dir_file(vendor_hal_wigig, vendor_wifi_vendor_data_file)
set_prop(vendor_hal_wigig, vendor_ctl_vendor_wigigsvc_prop)
set_prop(vendor_hal_wigig, vendor_wigig_prop)
hal_attribute_hwservice(vendor_hal_wigig, vendor_hal_wigig_hwservice)
type vendor_hal_wigig_hwservice, hwservice_manager_type, protected_hwservice;
