expandtypeattribute(hal_remoteaccess)
expandtypeattribute(hal_remoteaccess_client)
expandtypeattribute(hal_remoteaccess_server)
allow hal_remoteaccess_client hal_remoteaccess_server:binder { call transfer };
allow hal_remoteaccess_client hal_remoteaccess_server:binder transfer;
allow hal_remoteaccess_client hal_remoteaccess_server:fd *;
allow hal_remoteaccess_server hal_remoteaccess_client:binder transfer;
allow hal_remoteaccess_server hal_remoteaccess_client:binder { call transfer };
allow hal_remoteaccess_server hal_remoteaccess_client:fd *;
allow hal_remoteaccess_server su:tcp_socket { accept getopt read write };
allow hal_remoteaccess_default servicemanager:binder { call transfer };
allow hal_remoteaccess_default servicemanager:fd *;
init_daemon_domain(hal_remoteaccess_default)
hal_server_domain(hal_remoteaccess_default, hal_remoteaccess)
hal_attribute_service(hal_remoteaccess, hal_remoteaccess_service)
type hal_remoteaccess_default, domain;
type hal_remoteaccess_default_exec, exec_type, file_type, vendor_file_type;
