expandtypeattribute(hal_keymint)
expandtypeattribute(hal_keymint_client)
expandtypeattribute(hal_keymint_server)
allow hal_keymint_server dumpstate:fifo_file write;
allow hal_keymint_server dumpstate:fd *;
allow hal_keymint_server hal_keymint_client:binder transfer;
allow hal_keymint_server su:tcp_socket { accept getopt read write };
allow hal_keymint_server servicemanager:binder { call transfer };
allow hal_keymint_server servicemanager:fd *;
allow hal_keymint_server tee_device:chr_file rw_file_perms;
allow hal_keymint_server ion_device:chr_file r_file_perms;
allow hal_keymint_client hal_keymint_server:binder { call transfer };
allow hal_keymint_client hal_keymint_server:fd *;
allow vendor_hal_keymint_qti tee_device:chr_file rw_file_perms;
allow vendor_hal_keymint_qti vendor_dmabuf_qseecom_heap_device:chr_file r_file_perms;
dontaudit vendor_hal_keymint_qti firmware_file:dir search;
init_daemon_domain(hal_keymint_default)
init_daemon_domain(vendor_hal_keymint_qti)
get_prop(hal_keymint_default, vendor_security_patch_level_prop)
get_prop(vendor_hal_keymint_qti, vendor_tee_listener_prop)
get_prop(vendor_hal_keymint_qti, vendor_disable_spu_prop)
hal_server_domain(hal_keymint_default, hal_keymint)
hal_server_domain(vendor_hal_keymint_qti, hal_keymint)
hal_attribute_service(hal_keymint, hal_keymint_service)
hal_attribute_service(hal_keymint, hal_remotelyprovisionedcomponent_service)
hal_attribute_service(hal_keymint, hal_secureclock_service)
hal_attribute_service(hal_keymint, hal_sharedsecret_service)
type hal_keymint_default, domain;
type vendor_hal_keymint_qti, domain;
type hal_keymint_default_exec, exec_type, file_type, vendor_file_type;
type vendor_hal_keymint_qti_exec, exec_type, file_type, vendor_file_type;
