allow vendor_hal_qesdonehal_default vendor_qesd_one_socket:sock_file w_file_perms;
allow vendor_hal_qesdonehal_default vendor_qesd_one_socket:sock_file create_file_perms;
allow vendor_hal_qesdonehal_default vendor_qesd_one_socket:dir rw_dir_perms;
allow vendor_hal_qesdonehal_default devpts:chr_file rw_file_perms;
allow vendor_hal_qesdonehal_default vendor_qesd_one_token_data_file:dir create_dir_perms;
allow vendor_hal_qesdonehal_default vendor_qesd_one_token_data_file:file create_file_perms;
init_daemon_domain(vendor_hal_qesdonehal_default)
set_prop(vendor_hal_qesdonehal_default, vendor_qesdk_one_prop)
set_prop(vendor_hal_qesdonehal_default, ctl_start_prop)
set_prop(vendor_hal_qesdonehal_default, ctl_stop_prop)
type vendor_hal_qesdonehal_default, domain;
type vendor_hal_qesdonehal_default_exec, exec_type, file_type, vendor_file_type;
