allow vendor_init-qti-ims-sh vendor_shell_exec:file rx_file_perms;
allow vendor_init-qti-ims-sh vendor_toolbox_exec:file rx_file_perms;
init_daemon_domain(vendor_init-qti-ims-sh)
set_prop(vendor_init-qti-ims-sh, vendor_ims_prop)
type vendor_init-qti-ims-sh, domain;
type vendor_init-qti-ims-sh_exec, exec_type, file_type, vendor_file_type;
