allow vendor_init-qti-ese-strongbox-sh vendor_shell_exec:file rx_file_perms;
allow vendor_init-qti-ese-strongbox-sh vendor_toolbox_exec:file rx_file_perms;
init_daemon_domain(vendor_init-qti-ese-strongbox-sh)
set_prop(vendor_init-qti-ese-strongbox-sh, vendor_ese_strongbox_prop)
type vendor_init-qti-ese-strongbox-sh, domain;
type vendor_init-qti-ese-strongbox-sh_exec, exec_type, file_type, vendor_file_type;
