neverallow installd system_data_file:file { append audit_access create entrypoint execmod link mounton no_x_file_perms quotaon relabelto rename setattr watch_mount watch_sb watch_with_perm write };
allow installd dumpstate:binder transfer;
allow installd dumpstate:fifo_file { getattr write };
allow installd self:capability { chown dac_override dac_read_search fowner fsetid kill setgid setuid sys_admin };
allow installd self:cap_userns { chown dac_override dac_read_search fowner fsetid kill setgid setuid sys_admin };
allow installd dalvikcache_data_file:dir relabelto;
allow installd dalvikcache_data_file:dir create_dir_perms;
allow installd dalvikcache_data_file:file { link relabelto };
allow installd dalvikcache_data_file:file create_file_perms;
allow installd dalvikcache_data_file:lnk_file getattr;
allow installd apk_data_file:dir { create_dir_perms relabelfrom };
allow installd apk_data_file:file { create_file_perms link relabelfrom };
allow installd apk_data_file:lnk_file { create r_file_perms unlink };
allow installd asec_apk_file:file r_file_perms;
allow installd apk_tmp_file:file { r_file_perms unlink };
allow installd apk_tmp_file:dir { create_dir_perms relabelfrom };
allow installd oemfs:dir r_dir_perms;
allow installd oemfs:file r_file_perms;
allow installd cgroup:dir create_dir_perms;
allow installd cgroup_v2:dir create_dir_perms;
allow installd mnt_expand_file:dir { getattr search };
allow installd selinuxfs:file w_file_perms;
allow installd kernel:security check_context;
allow installd file_contexts_file:file r_file_perms;
allow installd seapp_contexts_file:file r_file_perms;
allow installd asec_image_file:dir search;
allow installd asec_image_file:file getattr;
allow installd system_data_file:dir create_dir_perms;
allow installd system_data_file:dir relabelfrom;
allow installd system_data_file:lnk_file { create getattr read setattr unlink };
allow installd system_data_file:lnk_file { getattr relabelfrom unlink };
allow installd system_data_file:file { getattr relabelfrom unlink };
allow installd system_data_file:sock_file { getattr relabelfrom unlink };
allow installd system_data_file:fifo_file { getattr relabelfrom unlink };
allow installd mnt_pass_through_file:dir r_dir_perms;
allow installd media_rw_data_file:dir create_dir_perms;
allow installd media_rw_data_file:dir relabelto;
allow installd media_rw_data_file:file { getattr unlink };
allow installd media_userdir_file:dir r_dir_perms;
allow installd tmpfs:dir r_dir_perms;
allow installd storage_file:dir search;
allow installd sdcard_type:dir { getattr open read remove_name rmdir search write };
allow installd sdcard_type:file { getattr unlink };
allow installd fuse:dir { getattr open read remove_name rmdir search write };
allow installd fuse:file { getattr unlink };
allow installd mirror_data_file:dir { create_dir_perms mounton };
allow installd system_userdir_file:dir r_dir_perms;
allow installd misc_user_data_file:dir create_dir_perms;
allow installd misc_user_data_file:file create_file_perms;
allow installd keychain_data_file:dir create_dir_perms;
allow installd keychain_data_file:file { r_file_perms unlink };
allow installd install_data_file:file create_file_perms;
allow installd install_data_file:dir rw_dir_perms;
allow installd resourcecache_data_file:dir rw_dir_perms;
allow installd resourcecache_data_file:file create_file_perms;
allow installd unlabeled:dir { relabelfrom rmdir rw_dir_perms };
allow installd unlabeled:file { getattr relabelfrom rename setattr unlink };
allow installd unlabeled:file r_file_perms;
allow installd unlabeled:lnk_file { getattr relabelfrom rename setattr unlink };
allow installd unlabeled:sock_file { getattr relabelfrom rename setattr unlink };
allow installd unlabeled:fifo_file { getattr relabelfrom rename setattr unlink };
allow installd app_data_file_type:dir { create_dir_perms relabelfrom relabelto };
allow installd app_data_file_type:file { create_file_perms relabelfrom relabelto };
allow installd app_data_file_type:lnk_file { create_file_perms relabelfrom relabelto };
allow installd app_data_file_type:sock_file { create_file_perms relabelfrom relabelto };
allow installd app_data_file_type:fifo_file { create_file_perms relabelfrom relabelto };
allow installd user_profile_root_file:dir { create_dir_perms relabelfrom };
allow installd user_profile_data_file:dir { create_dir_perms relabelto };
allow installd user_profile_data_file:file create_file_perms;
allow installd user_profile_data_file:file unlink;
allow installd labeledfs:filesystem unmount;
allow installd labeledfs:filesystem { quotaget quotamod };
allow installd profman_dump_data_file:dir { add_name search write };
allow installd profman_dump_data_file:file { create open setattr write };
allow installd devpts:chr_file rw_file_perms;
allow installd toolbox_exec:file rx_file_perms;
allow installd su:tcp_socket { accept getopt read write };
allow installd system_server:binder { call transfer };
allow installd system_server:fd *;
allow installd permission_service:service_manager find;
allow installd block_device:dir search;
allow installd preloads_data_file:file { r_file_perms unlink };
allow installd preloads_data_file:dir { r_dir_perms remove_name rmdir write };
allow installd preloads_media_file:file { r_file_perms unlink };
allow installd preloads_media_file:dir { r_dir_perms remove_name rmdir write };
allow installd proc_filesystems:file r_file_perms;
allow installd vold:fd *;
allowxperm installd app_data_file_type:ioctl file { range 0x581f 0x5820 };
allowxperm installd app_data_file_type:ioctl file { range 0x6601 0x6602 };
allowxperm installd app_data_file_type:ioctl dir { range 0x581f 0x5820 };
allowxperm installd app_data_file_type:ioctl dir { range 0x6601 0x6602 };
allowxperm installd system_data_file:ioctl file { range 0x581f 0x5820 };
allowxperm installd system_data_file:ioctl file { range 0x6601 0x6602 };
allowxperm installd system_data_file:ioctl dir { range 0x581f 0x5820 };
allowxperm installd system_data_file:ioctl dir { range 0x6601 0x6602 };
allowxperm installd install_data_file:ioctl file { range 0x581f 0x5820 };
allowxperm installd install_data_file:ioctl file { range 0x6601 0x6602 };
allowxperm installd install_data_file:ioctl dir { range 0x581f 0x5820 };
allowxperm installd install_data_file:ioctl dir { range 0x6601 0x6602 };
r_dir_file(installd, selinuxfs)
r_dir_file(installd, rootfs)
r_dir_file(installd, system_file)
r_dir_file(installd, vendor_app_file)
r_dir_file(installd, vendor_framework_file)
r_dir_file(installd, vendor_overlay_file)
get_prop(installd, storage_config_prop)
binder_use(installd)
add_service(installd, installd_service)
type installd, domain, mlstrustedsubject;
type installd_exec, exec_type, file_type, system_file_type;
