neverallow iorap_inode2filename domain:tcp_socket *;
neverallow iorap_inode2filename domain:udp_socket *;
neverallow iorap_inode2filename domain:rawip_socket *;
allow iorap_inode2filename iorapd:fd *;
allow iorap_inode2filename iorapd:fifo_file { getattr read write };
allow iorap_inode2filename self:capability dac_read_search;
allow iorap_inode2filename apex_data_file:dir { getattr open read search };
allow iorap_inode2filename apex_data_file:file getattr;
allow iorap_inode2filename apex_mnt_dir:dir { getattr open read search };
allow iorap_inode2filename apex_mnt_dir:file getattr;
allow iorap_inode2filename apk_data_file:dir { getattr open read search };
allow iorap_inode2filename apk_data_file:file getattr;
allow iorap_inode2filename app_data_file_type:dir { getattr open read search };
allow iorap_inode2filename app_data_file_type:file getattr;
allow iorap_inode2filename backup_data_file:dir { getattr open read search };
allow iorap_inode2filename backup_data_file:file getattr;
allow iorap_inode2filename bootchart_data_file:dir { getattr open read search };
allow iorap_inode2filename bootchart_data_file:file getattr;
allow iorap_inode2filename metadata_file:dir { getattr open read search };
allow iorap_inode2filename metadata_file:file getattr;
allow iorap_inode2filename packages_list_file:dir { getattr open read search };
allow iorap_inode2filename packages_list_file:file getattr;
allow iorap_inode2filename property_data_file:dir { getattr open read search };
allow iorap_inode2filename property_data_file:file getattr;
allow iorap_inode2filename resourcecache_data_file:dir { getattr open read search };
allow iorap_inode2filename resourcecache_data_file:file getattr;
allow iorap_inode2filename recovery_data_file:dir { getattr open read search };
allow iorap_inode2filename ringtone_file:dir { getattr open read search };
allow iorap_inode2filename ringtone_file:file getattr;
allow iorap_inode2filename same_process_hal_file:dir { getattr open read search };
allow iorap_inode2filename same_process_hal_file:file getattr;
allow iorap_inode2filename sepolicy_file:file getattr;
allow iorap_inode2filename staging_data_file:dir { getattr open read search };
allow iorap_inode2filename staging_data_file:file getattr;
allow iorap_inode2filename system_bootstrap_lib_file:dir { getattr open read search };
allow iorap_inode2filename system_bootstrap_lib_file:file getattr;
allow iorap_inode2filename system_data_file:dir { getattr open read search };
allow iorap_inode2filename system_data_file:file getattr;
allow iorap_inode2filename system_data_file:lnk_file { getattr open read };
allow iorap_inode2filename system_data_root_file:dir { getattr open read search };
allow iorap_inode2filename textclassifier_data_file:dir { getattr open read search };
allow iorap_inode2filename textclassifier_data_file:file getattr;
allow iorap_inode2filename toolbox_exec:file getattr;
allow iorap_inode2filename user_profile_root_file:dir { getattr open read search };
allow iorap_inode2filename user_profile_data_file:dir { getattr open read search };
allow iorap_inode2filename user_profile_data_file:file getattr;
allow iorap_inode2filename unencrypted_data_file:dir { getattr open read search };
allow iorap_inode2filename unlabeled:file getattr;
allow iorap_inode2filename vendor_file:dir { getattr open read search };
allow iorap_inode2filename vendor_file:file getattr;
allow iorap_inode2filename vendor_overlay_file:file getattr;
allow iorap_inode2filename zygote_exec:file getattr;
allow iorap_inode2filename flags_health_check_exec:file getattr;
allow iorap_inode2filename cameraserver_exec:file getattr;
allow iorap_inode2filename bootanim_exec:file getattr;
allow iorap_inode2filename bootchecker_exec:file getattr;
allow iorap_inode2filename fsck_exec:file getattr;
allow iorap_inode2filename shell_data_file:dir read;
allow iorap_inode2filename profman_dump_data_file:dir read;
allow iorap_inode2filename install_data_file:dir read;
allow iorap_inode2filename pdp_data_file:dir { getattr open read search };
allow iorap_inode2filename pdp_data_file:file getattr;
allow iorap_inode2filename dumplog_data_file:dir { getattr open read search };
allow iorap_inode2filename dumplog_data_file:file getattr;
allow iorap_inode2filename apk_private_data_file:dir { getattr open read search };
allow iorap_inode2filename apk_private_data_file:file getattr;
allow iorap_inode2filename nfc_data_file:dir { getattr open read search };
allow iorap_inode2filename nfc_data_file:file getattr;
allow iorap_inode2filename asec_image_file:dir { getattr open read search };
allow iorap_inode2filename asec_image_file:file getattr;
allow iorap_inode2filename dsms_exec:file { getattr open read };
allow iorap_inode2filename cache_file:dir { open read };
allow iorap_inode2filename media_rw_data_file:dir { open read };
r_dir_file(iorap_inode2filename, rootfs)
type iorap_inode2filename, domain, mlstrustedsubject;
type iorap_inode2filename_exec, exec_type, file_type, system_file_type;
