allow vendor_ipa_lnx_agent self:capability { kill net_admin net_raw };
allow vendor_ipa_lnx_agent self:qipcrtr_socket create_socket_perms_no_ioctl;
allow vendor_ipa_lnx_agent self:netlink_socket create_socket_perms_no_ioctl;
allow vendor_ipa_lnx_agent self:tipc_socket create_socket_perms_no_ioctl;
allow vendor_ipa_lnx_agent vendor_tlpd_socket:dir search;
allow vendor_ipa_lnx_agent vendor_ipa_lnx_agent_device:chr_file rw_file_perms;
init_daemon_domain(vendor_ipa_lnx_agent)
r_dir_file(vendor_ipa_lnx_agent, vendor_sysfs_diag)
unix_socket_connect(vendor_ipa_lnx_agent, vendor_tlpd, vendor_tlpd)
net_domain(vendor_ipa_lnx_agent)
type vendor_ipa_lnx_agent, domain;
type vendor_ipa_lnx_agent_exec, exec_type, file_type, vendor_file_type;
