allowxperm vendor_ipacm self:ioctl udp_socket 0x8910;
init_daemon_domain(vendor_ipacm)
net_domain(vendor_ipacm)
hal_server_domain(vendor_ipacm, hal_tetheroffload)
type vendor_ipacm, domain;
type vendor_ipacm_exec, exec_type, file_type, vendor_file_type;
