allow vendor_irsc_util self:socket create_socket_perms;
allowxperm vendor_irsc_util self:ioctl socket { range 0xc300 0xc305 };
init_daemon_domain(vendor_irsc_util)
type vendor_irsc_util, domain;
type vendor_irsc_util_exec, exec_type, file_type, vendor_file_type;
