neverallow kernel self:capability { dac_override dac_read_search };
neverallow kernel self:cap_userns { dac_override dac_read_search };
allow kernel self:capability sys_nice;
allow kernel self:capability sys_resource;
allow kernel self:capability sys_boot;
allow kernel self:capability { fowner fsetid mknod net_raw sys_module sys_rawio };
allow kernel self:capability sys_admin;
allow kernel self:cap_userns sys_nice;
allow kernel self:cap_userns sys_resource;
allow kernel self:cap_userns sys_boot;
allow kernel self:security setcheckreqprot;
allow kernel self:socket create;
allow kernel self:system module_request;
allow kernel rootfs:file relabelfrom;
allow kernel proc_bootconfig:file r_file_perms;
allow kernel proc_cmdline:file r_file_perms;
allow kernel selinuxfs:dir r_dir_perms;
allow kernel selinuxfs:file r_file_perms;
allow kernel selinuxfs:file write;
allow kernel file_contexts_file:file r_file_perms;
allow kernel init_exec:file relabelto;
allow kernel init:process share;
allow kernel unlabeled:dir search;
allow kernel usbfs:filesystem mount;
allow kernel usbfs:dir search;
allow kernel proc_sysrq:file w_file_perms;
allow kernel tmpfs:chr_file write;
allow kernel sdcard_type:file { read write };
allow kernel sdcard_type:file rw_file_perms;
allow kernel sdcard_type:dir r_dir_perms;
allow kernel fuse:file { read write };
allow kernel mediaprovider:fd *;
allow kernel vold:fd *;
allow kernel app_data_file:file read;
allow kernel app_data_file:file write;
allow kernel privapp_data_file:file read;
allow kernel privapp_data_file:file write;
allow kernel asec_image_file:file read;
allow kernel media_rw_data_file:dir create_dir_perms;
allow kernel media_rw_data_file:dir r_dir_perms;
allow kernel media_rw_data_file:file create_file_perms;
allow kernel media_rw_data_file:file rw_file_perms;
allow kernel vold_data_file:file { read write };
allow kernel apexd:fd *;
allow kernel apex_data_file:file read;
allow kernel staging_data_file:file read;
allow kernel vendor_apex_file:file read;
allow kernel system_file:file execute;
allow kernel appdomain_tmpfs:file { read write };
allow kernel appdomain:fd *;
allow kernel sdcardd:fd *;
allow kernel proc_avc_msg:file write;
allow kernel sysfs_lcd_writable:file { open read };
allow kernel sysfs_lcd_writable:dir r_dir_perms;
allow kernel sysfs_sec:file { open read };
allow kernel sysfs_sec:file r_file_perms;
allow kernel device:chr_file { create getattr setattr unlink };
allow kernel device:dir create_dir_perms;
allow kernel device:dir ra_dir_perms;
allow kernel device:dir relabelto;
allow kernel mobicore_user_device:chr_file { create setattr };
allow kernel paramblk_device:blk_file rw_file_perms;
allow kernel debug_block_device:blk_file rw_file_perms;
allow kernel nad_refer_block_device:blk_file rw_file_perms;
allow kernel app_efs_file:dir rw_dir_perms;
allow kernel app_efs_file:file create_file_perms;
allow kernel battery_efs_file:dir r_dir_perms;
allow kernel battery_efs_file:file r_file_perms;
allow kernel sec_efs_file:dir create_dir_perms;
allow kernel sec_efs_file:file create_file_perms;
allow kernel wifi_data_file:dir rw_dir_perms;
allow kernel wifi_data_file:file create_file_perms;
allow kernel wifi_efs_file:dir r_dir_perms;
allow kernel wifi_efs_file:file r_file_perms;
allow kernel system_app_data_file:file { append lock write };
allow kernel system_app_data_file:file write;
allow kernel radio_data_file:file w_file_perms;
allow kernel mediaserver:fd *;
allow kernel serial_device:chr_file rw_file_perms;
allow kernel container_data_file:dir r_dir_perms;
allow kernel container_data_file:file rw_file_perms;
allow kernel system_data_file:file open;
allow kernel vfat:dir rw_dir_perms;
allow kernel vfat:file rw_file_perms;
allow kernel vendor_file:file { open read };
allow kernel shell_exec:file { open read };
allow kernel dumplog_data_file:dir rw_dir_perms;
allow kernel dumplog_data_file:file create_file_perms;
allow kernel dm_verity_signature_checker_exec:file relabelto;
allow kernel omr_file:file r_file_perms;
allow kernel block_device:dir search;
allow kernel sysfs_ss_writable:file rw_file_perms;
allow kernel sysfs_ss_writable:lnk_file r_file_perms;
allow kernel camera_data_file:dir create_dir_perms;
allow kernel camera_data_file:file create_file_perms;
allow kernel vendor_modprobe:key search;
allow kernel sec_wifi_data_file:file rw_file_perms;
allow kernel convergence_data_file:dir rw_dir_perms;
allow kernel convergence_data_file:file create_file_perms;
allow kernel sysfs_usb:file rw_file_perms;
allow kernel vendor_configs_file:file r_file_perms;
allow kernel proc_boot_stat:file { getattr lock map open read };
allow kernel debugfs_mmc:dir r_dir_perms;
allow kernel pageboostd_exec:file relabelto;
allow kernel sec_debugfs:dir r_dir_perms;
allow kernel vendor_shell_exec:file r_file_perms;
allow kernel wvkprov_exec:file r_file_perms;
allow kernel sysfs_battery:file r_file_perms;
allow kernel sswap:fd *;
allow kernel accounts_data_file:file rw_file_perms;
allow kernel hal_hdm_default_exec:file r_file_perms;
allow kernel same_process_hal_file:file { execute getattr map open read };
allow kernel sysfs_ski_sensor_writable:file r_file_perms;
allow kernel insthk_exec:file getattr;
allow kernel hal_proca_default_exec:file r_file_perms;
allow kernel wlandutservice_exec:file r_file_perms;
allow kernel vendor_sysfs_battery_supply:file r_file_perms;
allow kernel debugfs_tracing_instances:dir search;
allow kernel vendor_sysfs_sensors:dir search;
allow kernel vendor_vm_mgr:fd *;
allow kernel vendor_vm_system_file:file r_file_perms;
dontaudit kernel self:security setenforce;
dontaudit kernel kernel:system module_request;
type_transition kernel device:chr_file mobicore_user_device "mobicore-user";
r_dir_file(kernel, rootfs)
r_dir_file(kernel, mnt_user_file)
r_dir_file(kernel, spu_file)
r_dir_file(kernel, sysfs_ski_hal_readable)
r_dir_file(kernel, firmware_file)
r_dir_file(kernel, vendor_firmware_file)
type kernel, domain, mlstrustedsubject;
