neverallow kernel self:capability { dac_override dac_read_search };
neverallow kernel self:cap_userns { dac_override dac_read_search };
neverallow kernel self:perf_event { kernel read tracepoint write };
allow kernel self:capability sys_nice;
allow kernel self:capability sys_resource;
allow kernel self:capability sys_boot;
allow kernel self:cap_userns sys_nice;
allow kernel self:cap_userns sys_resource;
allow kernel self:cap_userns sys_boot;
allow kernel self:security setcheckreqprot;
allow kernel self:socket create;
allow kernel self:qipcrtr_socket create;
allow kernel self:perf_event { cpu open };
allow kernel rootfs:file relabelfrom;
allow kernel proc_bootconfig:file r_file_perms;
allow kernel proc_cmdline:file r_file_perms;
allow kernel selinuxfs:dir r_dir_perms;
allow kernel selinuxfs:file r_file_perms;
allow kernel selinuxfs:file write;
allow kernel file_contexts_file:file r_file_perms;
allow kernel init_exec:file relabelto;
allow kernel init:process share;
allow kernel unlabeled:dir search;
allow kernel usbfs:filesystem mount;
allow kernel usbfs:dir search;
allow kernel proc_sysrq:file w_file_perms;
allow kernel tmpfs:chr_file write;
allow kernel sdcard_type:file { read write };
allow kernel fuse:file { read write };
allow kernel mediaprovider:fd *;
allow kernel vold:fd *;
allow kernel app_data_file:file read;
allow kernel privapp_data_file:file read;
allow kernel asec_image_file:file read;
allow kernel update_engine_data_file:file { read write };
allow kernel nativetest_data_file:file { read write };
allow kernel media_rw_data_file:dir create_dir_perms;
allow kernel media_rw_data_file:file create_file_perms;
allow kernel vold_data_file:file { read write };
allow kernel apexd:fd *;
allow kernel apex_data_file:file read;
allow kernel staging_data_file:file read;
allow kernel vendor_apex_file:file read;
allow kernel shell_data_file:file { read write };
allow kernel system_file:file execute;
allow kernel appdomain_tmpfs:file { read write };
allow kernel vendor_debugfs_kgsl_fence_tracing:dir search;
allow kernel debugfs_mmc:dir search;
allow kernel vendor_vm_mgr:fd *;
allow kernel vendor_vm_system_file:file r_file_perms;
dontaudit kernel self:security setenforce;
dontaudit kernel self:qipcrtr_socket create;
dontaudit kernel kernel:system module_request;
r_dir_file(kernel, rootfs)
r_dir_file(kernel, firmware_file)
r_dir_file(kernel, vendor_firmware_file)
type kernel, domain, mlstrustedsubject;
