allow vendor_location vendor_location_exec:file rx_file_perms;
allow vendor_location self:capability { setgid setuid };
allow vendor_location vendor_location_data_file:dir create_dir_perms;
allow vendor_location vendor_location_data_file:file create_file_perms;
allow vendor_location vendor_location_socket:lnk_file create_file_perms;
allow vendor_location vendor_location_socket:sock_file create_file_perms;
allow vendor_location vendor_location_socket:dir rw_dir_perms;
allow vendor_location vendor_hal_gnss_qti:unix_dgram_socket sendto;
allow vendor_location vendor_location_lowi_server:unix_dgram_socket sendto;
allow vendor_location system_server:binder transfer;
dontaudit vendor_location kernel:system module_request;
domain_auto_trans(vendor_location, vendor_location_lowi_server_exec, vendor_location_lowi_server)
domain_auto_trans(vendor_location, vendor_location_xtra_daemon_exec, vendor_location_xtra_daemon)
domain_auto_trans(vendor_location, vendor_location_edgnss_daemon_exec, vendor_location_edgnss_daemon)
domain_auto_trans(vendor_location, vendor_location_engine_service_exec, vendor_location_engine_service)
domain_auto_trans(vendor_location, vendor_location_slim_daemon_exec, vendor_location_slim_daemon)
domain_auto_trans(vendor_location, vendor_location_xtwifi_client_exec, vendor_location_xtwifi_client)
domain_auto_trans(vendor_location, vendor_location_xtwifi_inetagent_exec, vendor_location_xtwifi_inetagent)
init_daemon_domain(vendor_location)
type vendor_location, domain;
type vendor_location_exec, exec_type, file_type, vendor_file_type;
