allow netutils_wrapper vendor_netmgrd:process sigchld;
allow netutils_wrapper vendor_netmgrd:fd *;
allow netutils_wrapper vendor_netmgrd:fifo_file { getattr read write };
allow netutils_wrapper vendor_netmgrd:netlink_route_socket { read write };
allow netutils_wrapper vendor_netmgrd:unix_stream_socket { read write };
allow netutils_wrapper vendor_netmgrd:netlink_generic_socket { read write };
allow netutils_wrapper vendor_netmgrd:netlink_xfrm_socket { read write };
allow netutils_wrapper vendor_netmgrd:udp_socket { read write };
allow netutils_wrapper vendor_netmgrd:tcp_socket { read write };
allow netutils_wrapper vendor_qnicornd:process sigchld;
allow netutils_wrapper vendor_qnicornd:fd *;
allow netutils_wrapper vendor_qnicornd:fifo_file { getattr read write };
allow netutils_wrapper vendor_qnicornd:netlink_route_socket { read write };
allow netutils_wrapper vendor_qnicornd:unix_stream_socket { read write };
allow netutils_wrapper vendor_qnicornd:netlink_generic_socket { read write };
allow netutils_wrapper vendor_qnicornd:netlink_xfrm_socket { read write };
allow netutils_wrapper vendor_qnicornd:udp_socket { read write };
allow netutils_wrapper vendor_qnicornd:tcp_socket { read write };
allow netutils_wrapper vendor_shsusrd:process sigchld;
allow netutils_wrapper vendor_shsusrd:fd *;
allow netutils_wrapper vendor_shsusrd:fifo_file { getattr read write };
allow netutils_wrapper vendor_shsusrd:netlink_route_socket { read write };
allow netutils_wrapper vendor_shsusrd:unix_stream_socket { read write };
allow netutils_wrapper vendor_shsusrd:netlink_generic_socket { read write };
allow netutils_wrapper vendor_shsusrd:netlink_xfrm_socket { read write };
allow netutils_wrapper vendor_shsusrd:udp_socket { read write };
allow netutils_wrapper vendor_shsusrd:tcp_socket { read write };
allow netutils_wrapper vendor_dpmd:process sigchld;
allow netutils_wrapper vendor_dpmd:fd *;
allow netutils_wrapper vendor_dpmd:fifo_file { getattr read write };
allow netutils_wrapper vendor_dpmd:netlink_route_socket { read write };
allow netutils_wrapper vendor_dpmd:unix_stream_socket { read write };
allow netutils_wrapper vendor_dpmd:netlink_generic_socket { read write };
allow netutils_wrapper vendor_dpmd:netlink_xfrm_socket { read write };
allow netutils_wrapper vendor_dpmd:udp_socket { read write };
allow netutils_wrapper vendor_dpmd:tcp_socket { read write };
allow netutils_wrapper vendor_dpmd_vndr:process sigchld;
allow netutils_wrapper vendor_dpmd_vndr:fd *;
allow netutils_wrapper vendor_dpmd_vndr:fifo_file { getattr read write };
allow netutils_wrapper vendor_dpmd_vndr:netlink_route_socket { read write };
allow netutils_wrapper vendor_dpmd_vndr:unix_stream_socket { read write };
allow netutils_wrapper vendor_dpmd_vndr:netlink_generic_socket { read write };
allow netutils_wrapper vendor_dpmd_vndr:netlink_xfrm_socket { read write };
allow netutils_wrapper vendor_dpmd_vndr:udp_socket { read write };
allow netutils_wrapper vendor_dpmd_vndr:tcp_socket { read write };
allow netutils_wrapper vendor_diag_device:chr_file rw_file_perms;
dontaudit netutils_wrapper self:capability sys_module;
dontaudit netutils_wrapper system_file:dir write;
r_dir_file(netutils_wrapper, vendor_sysfs_diag)
type netutils_wrapper, domain;
type netutils_wrapper_exec, exec_type, file_type, system_file_type;
