allow vendor_pdt_app vendor_pdt_app_userfaultfd:anon_inode { create ioctl read };
dontaudit vendor_pdt_app service_manager_type:service_manager *;
dontaudit vendor_pdt_app hwservice_manager_type:hwservice_manager *;
dontaudit vendor_pdt_app file_type:file *;
dontaudit vendor_pdt_app file_type:dir *;
dontaudit vendor_pdt_app file_type:lnk_file *;
dontaudit vendor_pdt_app file_type:chr_file *;
dontaudit vendor_pdt_app file_type:blk_file *;
dontaudit vendor_pdt_app file_type:sock_file *;
dontaudit vendor_pdt_app file_type:fifo_file *;
permissive vendor_pdt_app;
type_transition vendor_pdt_app vendor_pdt_app:anon_inode vendor_pdt_app_userfaultfd "[userfaultfd]";
app_domain(vendor_pdt_app)
net_domain(vendor_pdt_app)
type vendor_pdt_app, domain;
