allow vendor_perf_qesdk vendor_hal_qesdhal_default:file read;
allow vendor_perf_qesdk vendor_hal_qesdhal_default:lnk_file read;
allow vendor_perf_qesdk vendor_hal_qesdhal_default:dir search;
allow vendor_perf_qesdk self:netlink_generic_socket create_socket_perms_no_ioctl;
allow vendor_perf_qesdk vendor_qesd_one_socket:dir r_dir_perms;
init_daemon_domain(vendor_perf_qesdk)
unix_socket_connect(vendor_perf_qesdk, vendor_qesd, vendor_hal_qesdhal)
unix_socket_connect(vendor_perf_qesdk, vendor_qesd, vendor_hal_qesdonehal_default)
unix_socket_connect(vendor_perf_qesdk, vendor_qesd_one, vendor_hal_qesdhal)
unix_socket_connect(vendor_perf_qesdk, vendor_qesd_one, vendor_hal_qesdonehal_default)
get_prop(vendor_perf_qesdk, vendor_qesdk_one_prop)
hal_client_domain(vendor_perf_qesdk, vendor_hal_perf)
type vendor_perf_qesdk, domain;
type vendor_perf_qesdk_exec, exec_type, file_type, vendor_file_type;
