allow vendor_qccvendor platform_app:binder transfer;
allow vendor_qccvendor vendor_ssgtzd:binder transfer;
allow vendor_qccvendor vendor_location_xtra_daemon:binder transfer;
allow vendor_qccvendor vendor_location_xtra_daemon:binder { call transfer };
allow vendor_qccvendor vendor_location_xtra_daemon:fd *;
allow vendor_qccvendor vendor_battery_stats:binder transfer;
allow vendor_qccvendor vendor_battery_stats:binder { call transfer };
allow vendor_qccvendor vendor_battery_stats:fd *;
allow vendor_qccvendor vendor_qcc_trd_2:binder transfer;
allow vendor_qccvendor vendor_qcc_trd_2:binder { call transfer };
allow vendor_qccvendor vendor_qcc_trd_2:fd *;
allow vendor_qccvendor vendor_qccvendor_data_file:file create_file_perms;
allow vendor_qccvendor vendor_qccvendor_data_file:dir create_dir_perms;
allow vendor_qccvendor vendor_firmware_file:dir r_dir_perms;
allow vendor_qccvendor vendor_firmware_file:file r_file_perms;
allow vendor_qccvendor self:qipcrtr_socket create_socket_perms_no_ioctl;
allow vendor_qccvendor vendor_qcc_trd_data_file:file create_file_perms;
allow vendor_qccvendor vendor_qcc_trd_data_file:dir create_dir_perms;
allow vendor_qccvendor vendor_qms:binder transfer;
allow vendor_qccvendor vendor_qms:binder { call transfer };
allow vendor_qccvendor vendor_qms:fd *;
init_daemon_domain(vendor_qccvendor)
unix_socket_connect(vendor_qccvendor, property, logd)
unix_socket_connect(vendor_qccvendor, logdr, init)
unix_socket_connect(vendor_qccvendor, logdr, logd)
set_prop(vendor_qccvendor, vendor_qcc_prop)
set_prop(vendor_qccvendor, vendor_qtr_prop)
vndbinder_use(vendor_qccvendor)
hal_server_domain(vendor_qccvendor, vendor_hal_qccvndhal)
hal_client_domain(vendor_qccvendor, vendor_qccsyshal)
add_service(vendor_qccvendor, vendor_qtrsdkservice_service)
type vendor_qccvendor, domain;
type vendor_qccvendor_exec, exec_type, file_type, vendor_file_type;
