allow vendor_qcomsysd vendor_smem_log_device:chr_file rw_file_perms;
allow vendor_qcomsysd block_device:dir r_dir_perms;
allow vendor_qcomsysd vendor_sysfs_soc:file w_file_perms;
allow vendor_qcomsysd self:socket create;
allow vendor_qcomsysd self:capability sys_boot;
allow vendor_qcomsysd self:qipcrtr_socket create_socket_perms_no_ioctl;
allow vendor_qcomsysd vendor_per_mgr:binder transfer;
allow vendor_qcomsysd vendor_per_mgr:binder { call transfer };
allow vendor_qcomsysd vendor_per_mgr:fd *;
allow vendor_qcomsysd vendor_per_mgr_service:service_manager find;
init_daemon_domain(vendor_qcomsysd)
r_dir_file(vendor_qcomsysd, vendor_sysfs_soc)
get_prop(vendor_qcomsysd, vendor_per_mgr_state_prop)
vndbinder_use(vendor_qcomsysd)
type vendor_qcomsysd, domain;
type vendor_qcomsysd_exec, exec_type, file_type, vendor_file_type;
