allow vendor_qti_media vendor_qti_media_exec:file rx_file_perms;
allow vendor_qti_media vendor_toolbox_exec:file rx_file_perms;
allow vendor_qti_media vendor_sysfs_sku:file { open read };
init_daemon_domain(vendor_qti_media)
set_prop(vendor_qti_media, vendor_video_prop)
type vendor_qti_media, domain;
type vendor_qti_media_exec, exec_type, file_type, vendor_file_type;
