allow vendor_qtidataservices_app system_file:dir r_dir_perms;
allow vendor_qtidataservices_app app_api_service:service_manager find;
allow vendor_qtidataservices_app activity_service:service_manager find;
allow vendor_qtidataservices_app self:qipcrtr_socket create_socket_perms_no_ioctl;
allow vendor_qtidataservices_app vendor_radio_data_file:dir r_dir_perms;
allow vendor_qtidataservices_app radio_service:service_manager find;
allow vendor_qtidataservices_app vendor_sysfs_data:file r_file_perms;
allow vendor_qtidataservices_app vendor_netmgrd:fd *;
allow vendor_qtidataservices_app vendor_netmgrd:udp_socket { getattr getopt read write };
get_prop(vendor_qtidataservices_app, hwservicemanager_prop)
get_prop(vendor_qtidataservices_app, vendor_cnd_prop)
set_prop(vendor_qtidataservices_app, telephony_status_prop)
hwbinder_use(vendor_qtidataservices_app)
app_domain(vendor_qtidataservices_app)
net_domain(vendor_qtidataservices_app)
hal_client_domain(vendor_qtidataservices_app, vendor_hal_perf)
hal_client_domain(vendor_qtidataservices_app, vendor_hal_datafactory_qti)
hal_client_domain(vendor_qtidataservices_app, vendor_hal_iwlanservice_qti)
type vendor_qtidataservices_app, domain, vendor_hal_cacertservice_qti, vendor_hal_cacertservice_qti_server, vendor_halserverdomain;
