allow sdcardd cgroup:dir create_dir_perms;
allow sdcardd cgroup_v2:dir create_dir_perms;
allow sdcardd fuse_device:chr_file rw_file_perms;
allow sdcardd rootfs:dir mounton;
allow sdcardd sdcardfs:filesystem remount;
allow sdcardd tmpfs:dir r_dir_perms;
allow sdcardd mnt_media_rw_file:dir r_dir_perms;
allow sdcardd storage_file:dir search;
allow sdcardd storage_stub_file:dir { mounton search };
allow sdcardd sdcard_type:filesystem { mount unmount };
allow sdcardd sdcard_type:dir create_dir_perms;
allow sdcardd sdcard_type:file create_file_perms;
allow sdcardd fuse:filesystem { mount unmount };
allow sdcardd fuse:dir create_dir_perms;
allow sdcardd fuse:file create_file_perms;
allow sdcardd self:capability { dac_override dac_read_search setgid setuid sys_admin sys_resource };
allow sdcardd self:cap_userns { dac_override dac_read_search setgid setuid sys_admin sys_resource };
allow sdcardd media_rw_data_file:dir create_dir_perms;
allow sdcardd media_rw_data_file:file create_file_perms;
allow sdcardd system_data_file:file r_file_perms;
allow sdcardd packages_list_file:file r_file_perms;
allow sdcardd install_data_file:file r_file_perms;
allow sdcardd install_data_file:dir search;
allow sdcardd vold:fd *;
allow sdcardd vold:fifo_file { getattr read write };
allow sdcardd mnt_expand_file:dir search;
allow sdcardd proc_filesystems:file r_file_perms;
type sdcardd, domain;
type sdcardd_exec, exec_type, file_type, system_file_type;
