neverallow servicemanager hwbinder_device:chr_file no_rw_file_perms;
neverallow servicemanager vndbinder_device:chr_file no_rw_file_perms;
allow servicemanager dumpstate:fd *;
allow servicemanager dumpstate:fifo_file write;
allow servicemanager hal_audio_server:binder transfer;
allow servicemanager hal_audiocontrol_server:binder transfer;
allow servicemanager hal_authsecret_server:binder transfer;
allow servicemanager hal_bluetooth_server:binder transfer;
allow servicemanager hal_bluetooth:binder transfer;
allow servicemanager hal_broadcastradio_server:binder transfer;
allow servicemanager hal_cas_server:binder transfer;
allow servicemanager hal_cas_client:binder transfer;
allow servicemanager hal_confirmationui_server:binder transfer;
allow servicemanager hal_contexthub_server:binder transfer;
allow servicemanager hal_dumpstate_server:binder transfer;
allow servicemanager hal_face_server:binder transfer;
allow servicemanager hal_fastboot_server:binder transfer;
allow servicemanager hal_gatekeeper_server:binder transfer;
allow servicemanager hal_gnss_server:binder transfer;
allow servicemanager hal_gnss_client:binder transfer;
allow servicemanager hal_graphics_allocator_server:binder transfer;
allow servicemanager hal_graphics_allocator_client:binder transfer;
allow servicemanager hal_graphics_composer_client:binder transfer;
allow servicemanager hal_graphics_composer_server:binder transfer;
allow servicemanager hal_identity_server:binder transfer;
allow servicemanager hal_input_processor_server:binder transfer;
allow servicemanager hal_ir_server:binder transfer;
allow servicemanager hal_keymint_server:binder transfer;
allow servicemanager hal_light_server:binder transfer;
allow servicemanager hal_memtrack_server:binder transfer;
allow servicemanager hal_neuralnetworks_server:binder transfer;
allow servicemanager hal_nfc_server:binder transfer;
allow servicemanager hal_nlinterceptor:binder transfer;
allow servicemanager hal_oemlock_server:binder transfer;
allow servicemanager hal_power_server:binder transfer;
allow servicemanager hal_power_client:binder transfer;
allow servicemanager hal_power_stats_server:binder transfer;
allow servicemanager hal_power_stats_client:binder transfer;
allow servicemanager hal_sensors_server:binder transfer;
allow servicemanager hal_telephony_server:binder transfer;
allow servicemanager hal_thermal_server:binder transfer;
allow servicemanager hal_thermal_client:binder transfer;
allow servicemanager hal_tv_input_server:binder transfer;
allow servicemanager hal_tv_input_client:binder transfer;
allow servicemanager hal_tv_tuner_server:binder transfer;
allow servicemanager hal_tv_tuner_client:binder transfer;
allow servicemanager hal_usb_server:binder transfer;
allow servicemanager hal_usb_gadget_server:binder transfer;
allow servicemanager hal_uwb_server:binder transfer;
allow servicemanager hal_uwb_client:binder transfer;
allow servicemanager hal_vibrator_server:binder transfer;
allow servicemanager hal_weaver_server:binder transfer;
allow servicemanager system_net_netd_service:binder transfer;
allow servicemanager self:binder set_context_mgr;
allow servicemanager self:netlink_selinux_socket { accept append bind connect create getattr getopt listen lock name_bind read recvfrom relabelfrom relabelto sendto setattr setopt shutdown write };
allow servicemanager service_contexts_file:file r_file_perms;
allow servicemanager vendor_service_contexts_file:file r_file_perms;
allow servicemanager su:tcp_socket { accept getopt read write };
allow servicemanager selinuxfs:file w_file_perms;
allow servicemanager kernel:security compute_av;
allow servicemanager kmsg_device:chr_file rw_file_perms;
allow servicemanager update_verifier:binder transfer;
allow servicemanager usbd:binder transfer;
allow servicemanager hal_ivn_default:binder transfer;
allow servicemanager hal_remoteaccess_default:binder transfer;
allow servicemanager hal_vehicle_server:binder transfer;
allow servicemanager hal_aospa_powershare_server:binder transfer;
allow servicemanager hal_lineage_health_server:binder transfer;
allow servicemanager hal_lineage_health_default:binder transfer;
allow servicemanager vendor_hal_alarm_qti_server:binder transfer;
allow servicemanager vendor_hal_atfwd_server:binder transfer;
allow servicemanager hal_graphics_composer:binder transfer;
allow servicemanager vendor_hal_dcservice_qti_server:binder transfer;
allow servicemanager vendor_qnicornd:binder transfer;
allow servicemanager vendor_hal_factory_qti:binder transfer;
allow servicemanager vendor_hal_perf_server:binder transfer;
allow servicemanager vendor_hal_qseecom_server:binder transfer;
allow servicemanager vendor_hal_qteeconnector_server:binder transfer;
allow servicemanager vendor_hal_sensorscalibrate_qti:binder transfer;
allow servicemanager vendor_hal_spu_client:binder transfer;
allow servicemanager vendor_hal_srvctracker_server:binder transfer;
allow servicemanager vendor_qcc_trd_2:binder transfer;
allow servicemanager vendor_qconfigservice:binder transfer;
allow servicemanager vendor_hal_qms_qti_server:binder transfer;
allow servicemanager vendor_hal_qspmhal_server:binder transfer;
allow servicemanager vendor_spdaemon:binder transfer;
allow servicemanager vendor_ssgtzd:binder transfer;
allow servicemanager vendor_vppservice:binder transfer;
allow servicemanager wificfrsvc:binder transfer;
allow servicemanager vendor_qguard:binder transfer;
allow servicemanager vendor_hal_debugutils_server:binder transfer;
allow servicemanager vendor_wifimyftmsvc:binder transfer;
allow servicemanager vendor_location_slim_daemon:binder transfer;
r_dir_file(servicemanager, selinuxfs)
add_service(servicemanager, service_manager_service)
type servicemanager, domain, mlstrustedsubject;
type servicemanager_exec, exec_type, file_type, system_file_type;
