allow vendor_sys_seccam2_app vendor_sys_seccam2_app_userfaultfd:anon_inode { create ioctl read };
allow vendor_sys_seccam2_app app_data_file:dir create_dir_perms;
allow vendor_sys_seccam2_app app_data_file:file create_file_perms;
allow vendor_sys_seccam2_app app_api_service:service_manager find;
allow vendor_sys_seccam2_app cameraserver_service:service_manager find;
allow vendor_sys_seccam2_app gpuservice:binder { call transfer };
allow vendor_sys_seccam2_app gpuservice:fd *;
dontaudit vendor_sys_seccam2_app default_prop:file read;
type_transition vendor_sys_seccam2_app vendor_sys_seccam2_app:anon_inode vendor_sys_seccam2_app_userfaultfd "[userfaultfd]";
get_prop(vendor_sys_seccam2_app, vendor_persist_camera_prop)
app_domain(vendor_sys_seccam2_app)
net_domain(vendor_sys_seccam2_app)
hal_client_domain(vendor_sys_seccam2_app, vendor_hal_perf)
hal_client_domain(vendor_sys_seccam2_app, vendor_hal_qspmhal)
hal_client_domain(vendor_sys_seccam2_app, vendor_hal_secureprocessor)
type vendor_sys_seccam2_app, domain;
