allow vendor_trustedui_app vendor_trustedui_app_userfaultfd:anon_inode { create ioctl read };
type_transition vendor_trustedui_app vendor_trustedui_app:anon_inode vendor_trustedui_app_userfaultfd "[userfaultfd]";
app_domain(vendor_trustedui_app)
hal_client_domain(vendor_trustedui_app, vendor_hal_trustedui)
type vendor_trustedui_app, domain;
