allow turbo_adapter turbo_adapter_userfaultfd:anon_inode { create ioctl read };
allow turbo_adapter app_api_service:service_manager find;
allow turbo_adapter system_suspend_internal_server:binder { call transfer };
allow turbo_adapter system_suspend_internal_server:fd *;
type_transition turbo_adapter turbo_adapter:anon_inode turbo_adapter_userfaultfd "[userfaultfd]";
r_dir_file(turbo_adapter, proc_uid_cputime_showstat)
get_prop(turbo_adapter, suspend_prop)
app_domain(turbo_adapter)
hal_client_domain(turbo_adapter, hal_power)
hal_client_domain(turbo_adapter, hal_power_stats)
type turbo_adapter, coredomain, domain, system_suspend_internal_server;
