neverallow ueventd vndbinder_device:chr_file { append ioctl read write };
neverallow ueventd dev_type:blk_file { append audit_access execmod execute ioctl link lock map mounton open quotaon read rename watch watch_mount watch_reads watch_sb watch_with_perm write };
neverallow ueventd port_device:chr_file { append audit_access entrypoint execmod ioctl link lock map mounton no_x_file_perms open quotaon read relabelfrom rename watch watch_mount watch_reads watch_sb watch_with_perm write };
neverallow ueventd fs_type:file execute_no_trans;
neverallow ueventd file_type:file execute_no_trans;
allow ueventd kmsg_device:chr_file rw_file_perms;
allow ueventd self:capability { chown dac_override dac_read_search fowner fsetid mknod net_admin setgid setuid sys_rawio };
allow ueventd self:capability sys_module;
allow ueventd self:capability sys_admin;
allow ueventd self:cap_userns { chown dac_override dac_read_search fowner fsetid mknod net_admin setgid setuid sys_rawio };
allow ueventd self:cap_userns sys_module;
allow ueventd self:netlink_kobject_uevent_socket create_socket_perms_no_ioctl;
allow ueventd self:process setfscreate;
allow ueventd device:file create_file_perms;
allow ueventd sysfs_type:file w_file_perms;
allow ueventd sysfs_type:file { relabelfrom relabelto setattr };
allow ueventd sysfs_type:dir { relabelfrom relabelto setattr };
allow ueventd sysfs_type:lnk_file { relabelfrom relabelto setattr };
allow ueventd tmpfs:chr_file rw_file_perms;
allow ueventd tmpfs:blk_file getattr;
allow ueventd dev_type:dir create_dir_perms;
allow ueventd dev_type:lnk_file { create unlink };
allow ueventd dev_type:chr_file { create getattr setattr unlink };
allow ueventd dev_type:blk_file { create getattr relabelfrom relabelto setattr unlink };
allow ueventd efs_file:dir search;
allow ueventd efs_file:file r_file_perms;
allow ueventd apex_mnt_dir:dir r_dir_perms;
allow ueventd file_contexts_file:file r_file_perms;
allow ueventd proc_cmdline:file r_file_perms;
allow ueventd proc_bootconfig:file r_file_perms;
allow ueventd vendor_file:system module_load;
allow ueventd kernel:key search;
allow ueventd system_bootstrap_lib_file:dir r_dir_perms;
allow ueventd system_bootstrap_lib_file:file { execute getattr map open read };
allow ueventd vendor_shell_exec:file execute;
allow ueventd dm_device:chr_file rw_file_perms;
allow ueventd vendor_sysfs_bond0:file rw_file_perms;
allow ueventd vendor_sysfs_usb_c:file w_file_perms;
allow ueventd firmware_file:dir search;
allow ueventd firmware_file:file r_file_perms;
allow ueventd vendor_persist_file:dir search;
allow ueventd vendor_persist_file:file r_file_perms;
allow ueventd vendor_vm_system_file:dir search;
allow ueventd vendor_vm_system_file:file r_file_perms;
allow ueventd vendor_persist_wcnss_service_file:dir search;
dontaudit ueventd postinstall_mnt_dir:dir getattr;
domain_auto_trans(ueventd, vendor_vm_mgr_exec, vendor_vm_mgr)
r_dir_file(ueventd, rootfs)
r_dir_file(ueventd, sysfs_type)
r_dir_file(ueventd, selinuxfs)
r_dir_file(ueventd, mnt_vendor_file)
type ueventd, domain;
