allow vdc devpts:chr_file rw_file_perms;
allow vdc kmsg_device:chr_file { getattr w_file_perms };
allow vdc vold:binder { call transfer };
allow vdc vold:fd *;
allow vdc vold:fifo_file rw_file_perms;
allow vdc vold:netlink_kobject_uevent_socket { read write };
allow vdc vold_service:service_manager find;
allow vdc dumplog_data_file:dir create_dir_perms;
allow vdc dumplog_data_file:file create_file_perms;
allow vdc dumplog_data_file:file write;
allow vdc dumpstate:unix_stream_socket getopt;
allow vdc system_data_file:dir r_dir_perms;
allow vdc system_data_file:file r_file_perms;
allow vdc system_data_file:file open;
allow vdc cache_file:file write;
allow vdc sysfs_wake_lock:file write;
allow vdc cache_recovery_file:dir rw_dir_perms;
allow vdc cache_recovery_file:file create_file_perms;
allow vdc audit_log:file w_file_perms;
allow vdc sdcardfs:file w_file_perms;
binder_use(vdc)
type vdc, domain, mlstrustedsubject;
type vdc_exec, exec_type, file_type, system_file_type;
