allow virtual_touchpad su:tcp_socket { accept getopt read write };
allow virtual_touchpad system_server:binder { call transfer };
allow virtual_touchpad system_server:fd *;
allow virtual_touchpad uhid_device:chr_file { ioctl w_file_perms };
allow virtual_touchpad permission_service:service_manager find;
binder_service(virtual_touchpad)
binder_use(virtual_touchpad)
add_service(virtual_touchpad, virtual_touchpad_service)
type virtual_touchpad, domain;
type virtual_touchpad_exec, exec_type, file_type, system_file_type;
