neverallow vold fsck_exec:file execute_no_trans;
allow vold update_verifier:binder transfer;
allow vold vdc:binder transfer;
allow vold cache_file:dir r_dir_perms;
allow vold cache_file:dir create_dir_perms;
allow vold cache_file:file { getattr read };
allow vold cache_file:file create_file_perms;
allow vold cache_file:lnk_file r_file_perms;
allow vold sysfs:file w_file_perms;
allow vold sysfs_devices_block:file w_file_perms;
allow vold sysfs_dm:file w_file_perms;
allow vold sysfs_loop:file w_file_perms;
allow vold sysfs_usb:file w_file_perms;
allow vold sysfs_fs_f2fs:file w_file_perms;
allow vold sysfs_zram_uevent:file w_file_perms;
allow vold rootfs:dir mounton;
allow vold metadata_file:dir search;
allow vold proc:file r_file_perms;
allow vold proc:file write;
allow vold proc_drop_caches:file r_file_perms;
allow vold proc_drop_caches:file w_file_perms;
allow vold proc_bootconfig:file r_file_perms;
allow vold proc_cmdline:file r_file_perms;
allow vold proc_filesystems:file r_file_perms;
allow vold proc_meminfo:file r_file_perms;
allow vold proc_mounts:file r_file_perms;
allow vold file_contexts_file:file r_file_perms;
allow vold self:process setexec;
allow vold self:process setfscreate;
allow vold self:capability { chown dac_override dac_read_search fowner fsetid mknod net_admin sys_admin };
allow vold self:capability { kill sys_ptrace };
allow vold self:capability sys_nice;
allow vold self:capability sys_chroot;
allow vold self:capability { ipc_lock kill net_raw setgid setuid sys_boot sys_resource };
allow vold self:cap_userns { chown dac_override dac_read_search fowner fsetid mknod net_admin sys_admin };
allow vold self:cap_userns { kill sys_ptrace };
allow vold self:cap_userns sys_nice;
allow vold self:cap_userns sys_chroot;
allow vold self:netlink_kobject_uevent_socket create_socket_perms_no_ioctl;
allow vold self:capability2 block_suspend;
allow vold self:capability2 syslog;
allow vold self:cap2_userns block_suspend;
allow vold self:key *;
allow vold self:netlink_socket { bind create read write };
allow vold e2fs_exec:file rx_file_perms;
allow vold system_file:file x_file_perms;
allow vold block_device:dir create_dir_perms;
allow vold device:dir write;
allow vold devpts:chr_file rw_file_perms;
allow vold sdcard_type:dir mounton;
allow vold sdcard_type:dir create_dir_perms;
allow vold sdcard_type:filesystem { mount remount unmount };
allow vold sdcard_type:filesystem relabelfrom;
allow vold sdcard_type:file create_file_perms;
allow vold fuse:dir mounton;
allow vold fuse:dir create_dir_perms;
allow vold fuse:filesystem { mount remount unmount };
allow vold fuse:filesystem relabelfrom;
allow vold fuse:file create_file_perms;
allow vold mnt_media_rw_file:dir create_dir_perms;
allow vold mnt_media_rw_file:file create_file_perms;
allow vold storage_file:dir create_dir_perms;
allow vold storage_file:dir mounton;
allow vold storage_file:file create_file_perms;
allow vold storage_file:lnk_file r_file_perms;
allow vold media_rw_data_file:dir create_dir_perms;
allow vold media_rw_data_file:dir mounton;
allow vold media_rw_data_file:file create_file_perms;
allow vold media_rw_data_file:file { relabelfrom relabelto };
allow vold media_rw_data_file:filesystem relabelfrom;
allow vold mnt_media_rw_stub_file:dir { create getattr mounton rmdir setattr };
allow vold mnt_media_rw_stub_file:dir create_dir_perms;
allow vold mnt_media_rw_stub_file:file create_file_perms;
allow vold storage_stub_file:dir { create getattr mounton rmdir setattr };
allow vold storage_stub_file:dir { add_name relabelfrom write };
allow vold mnt_user_file:dir { create_dir_perms mounton };
allow vold mnt_user_file:dir { mounton relabelfrom relabelto };
allow vold mnt_user_file:lnk_file create_file_perms;
allow vold mnt_user_file:lnk_file { relabelfrom relabelto };
allow vold mnt_user_file:file create_file_perms;
allow vold mnt_user_file:file { relabelfrom relabelto };
allow vold mnt_pass_through_file:dir { create_dir_perms mounton };
allow vold mnt_pass_through_file:lnk_file create_file_perms;
allow vold mnt_expand_file:dir { create_dir_perms mounton };
allow vold apk_data_file:dir { create getattr setattr };
allow vold apk_data_file:dir { mounton rw_dir_perms };
allow vold apk_data_file:dir create_dir_perms;
allow vold apk_data_file:file { rw_file_perms unlink };
allow vold apk_data_file:file create_file_perms;
allow vold shell_data_file:dir { create getattr setattr };
allow vold apk_tmp_file:dir { mounton r_dir_perms };
allow vold incremental_control_file:file { r_file_perms relabelto };
allow vold tmpfs:filesystem { mount unmount };
allow vold tmpfs:dir create_dir_perms;
allow vold tmpfs:dir mounton;
allow vold tmpfs:lnk_file r_file_perms;
allow vold loop_control_device:chr_file rw_file_perms;
allow vold loop_device:blk_file { create rw_file_perms setattr unlink };
allow vold vold_device:blk_file { create rw_file_perms setattr unlink };
allow vold dm_device:chr_file rw_file_perms;
allow vold dm_device:blk_file rw_file_perms;
allow vold domain:process { sigkill signal };
allow vold kmsg_device:chr_file rw_file_perms;
allow vold fsck_exec:file { execute r_file_perms };
allow vold fscklogs:dir rw_dir_perms;
allow vold fscklogs:file create_file_perms;
allow vold labeledfs:filesystem { mount remount unmount };
allow vold labeledfs:filesystem relabelfrom;
allow vold labeledfs:filesystem remount;
allow vold labeledfs:filesystem quotaget;
allow vold system_data_root_file:dir { create mounton rmdir rw_dir_perms setattr };
allow vold system_data_file:dir { create mounton rmdir rw_dir_perms setattr };
allow vold system_data_file:dir create_dir_perms;
allow vold system_data_file:dir { relabelfrom relabelto };
allow vold system_data_file:dir rw_dir_perms;
allow vold system_data_file:lnk_file getattr;
allow vold system_data_file:lnk_file r_file_perms;
allow vold system_data_file:lnk_file { link rename unlink };
allow vold system_data_file:file read;
allow vold system_data_file:file r_file_perms;
allow vold vendor_data_file:dir create_dir_perms;
allow vold vendor_data_file:file getattr;
allow vold kernel:process setsched;
allow vold kernel:security check_context;
allow vold kernel:system module_request;
allow vold kernel:key { search write };
allow vold asec_image_file:file create_file_perms;
allow vold asec_image_file:dir rw_dir_perms;
allow vold asec_image_file:dir { create mounton rmdir };
allow vold asec_apk_file:dir { create_dir_perms mounton relabelfrom relabelto };
allow vold asec_apk_file:dir { create_dir_perms mounton relabelto };
allow vold asec_apk_file:file { r_file_perms relabelfrom relabelto setattr };
allow vold asec_apk_file:file { create_file_perms relabelto };
allow vold asec_apk_file:lnk_file relabelto;
allow vold asec_public_file:dir { relabelto setattr };
allow vold asec_public_file:file { relabelto setattr };
allow vold unlabeled:dir { r_dir_perms relabelfrom setattr };
allow vold unlabeled:dir { r_dir_perms relabelfrom };
allow vold unlabeled:file { r_file_perms relabelfrom setattr };
allow vold unlabeled:file relabelfrom;
allow vold unlabeled:filesystem { mount relabelfrom unmount };
allow vold unlabeled:lnk_file relabelfrom;
allow vold fusectlfs:file rw_file_perms;
allow vold fusectlfs:dir rw_dir_perms;
allow vold sysfs_wake_lock:file rw_file_perms;
allow vold system_suspend_server:binder { call transfer };
allow vold system_suspend_server:fd *;
allow vold system_suspend_hwservice:hwservice_manager find;
allow vold hidl_manager_hwservice:hwservice_manager find;
allow vold hal_system_suspend_service:service_manager find;
allow vold system_server:binder { call transfer };
allow vold system_server:fd *;
allow vold permission_service:service_manager find;
allow vold userdata_block_device:blk_file rw_file_perms;
allow vold metadata_block_device:blk_file rw_file_perms;
allow vold unencrypted_data_file:file create_file_perms;
allow vold unencrypted_data_file:dir create_dir_perms;
allow vold vold_data_file:dir create_dir_perms;
allow vold vold_data_file:file create_file_perms;
allow vold vold_metadata_file:dir create_dir_perms;
allow vold vold_metadata_file:file create_file_perms;
allow vold init:key { search setattr write };
allow vold init:key write;
allow vold vold:key { search setattr write };
allow vold fuse_device:chr_file rw_file_perms;
allow vold app_fusefs:filesystem { relabelfrom relabelto };
allow vold app_fusefs:filesystem { mount unmount };
allow vold app_fuse_file:dir rw_dir_perms;
allow vold app_fuse_file:file { append getattr open read write };
allow vold toolbox_exec:file rx_file_perms;
allow vold user_profile_root_file:dir create_dir_perms;
allow vold user_profile_data_file:dir create_dir_perms;
allow vold user_profile_data_file:dir { r_dir_perms relabelfrom relabelto };
allow vold user_profile_data_file:file { r_file_perms relabelfrom relabelto };
allow vold misc_block_device:blk_file w_file_perms;
allow vold mnt_vendor_file:dir search;
allow vold mnt_vendor_file:dir r_dir_perms;
allow vold mnt_vendor_file:dir { ioctl open read };
allow vold gsi_metadata_file_type:dir search;
allow vold gsi_public_metadata_file:file r_file_perms;
allow vold vendor_apex_file:file r_file_perms;
allow vold efs_file:dir r_dir_perms;
allow vold efs_file:dir rw_dir_perms;
allow vold sysfs_vnswap:file w_file_perms;
allow vold sdcardfs:filesystem relabelfrom;
allow vold paramblk_device:blk_file rw_file_perms;
allow vold steady_block_device:blk_file rw_file_perms;
allow vold root_block_device:blk_file rw_file_perms;
allow vold anr_data_file:dir r_dir_perms;
allow vold anr_data_file:dir create_dir_perms;
allow vold anr_data_file:file r_file_perms;
allow vold anr_data_file:file create_file_perms;
allow vold fota_data_file:dir rw_dir_perms;
allow vold fota_data_file:dir create_dir_perms;
allow vold fota_data_file:file unlink;
allow vold fota_data_file:file create_file_perms;
allow vold imei_efs_file:dir r_dir_perms;
allow vold imei_efs_file:file r_file_perms;
allow vold ccm_data_file:dir r_dir_perms;
allow vold ccm_data_file:file r_file_perms;
allow vold sec_efs_file:dir create_dir_perms;
allow vold sec_efs_file:file create_file_perms;
allow vold users_system_data_file:dir create_dir_perms;
allow vold users_system_data_file:file create_file_perms;
allow vold wallpaper_file:file unlink;
allow vold cache_recovery_file:dir create_dir_perms;
allow vold cache_recovery_file:file create_file_perms;
allow vold tima_keystore_file:dir r_dir_perms;
allow vold tima_keystore_file:file r_file_perms;
allow vold knox_system_misc_file:dir { create_dir_perms mounton relabelto };
allow vold knox_system_misc_file:file { create_file_perms relabelto };
allow vold hidden_file:file r_file_perms;
allow vold dumpstate:fd *;
allow vold dumpstate:fifo_file rw_file_perms;
allow vold selinuxfs:file w_file_perms;
allow vold mobicore_admin_device:chr_file rw_file_perms;
allow vold mobicore_user_device:chr_file rw_file_perms;
allow vold dumplog_data_file:dir create_dir_perms;
allow vold dumplog_data_file:file create_file_perms;
allow vold drm_playready_file:dir relabelto;
allow vold frigate_socket:sock_file { append getattr ioctl read write };
allow vold random_device:chr_file r_file_perms;
allow vold security_file:dir r_dir_perms;
allow vold security_file:file r_file_perms;
allow vold swap_device:blk_file r_file_perms;
allow vold sysfs_ss_writable:file rw_file_perms;
allow vold tz_device:chr_file rw_file_perms;
allow vold ucs_service:service_manager find;
allow vold wifi_data_file:dir rw_dir_perms;
allow vold wifi_data_file:file rw_file_perms;
allow vold proc_sysrq:file rw_file_perms;
allow vold appdomain:fd *;
allow vold container_data_file:file create_file_perms;
allow vold container_data_file:file { create_file_perms relabelfrom relabelto };
allow vold container_data_file:lnk_file create_file_perms;
allow vold container_data_file:lnk_file { create_file_perms relabelfrom relabelto };
allow vold container_data_file:dir { create_dir_perms mounton };
allow vold container_data_file:dir { create_dir_perms relabelfrom relabelto };
allow vold knox_clipboard_file:dir create_dir_perms;
allow vold knox_clipboard_file:file create_file_perms;
allow vold knox_dar_device:chr_file rw_file_perms;
allow vold knox_dar_shared_device:chr_file rw_file_perms;
allow vold container_system_file:dir create_dir_perms;
allow vold container_system_file:file create_file_perms;
allow vold keyrefuge_data_file:dir create_dir_perms;
allow vold keyrefuge_data_file:file create_file_perms;
allow vold ringtone_file:dir { create_dir_perms relabelfrom relabelto };
allow vold ringtone_file:file { create_file_perms relabelfrom relabelto };
allow vold install_data_file:file r_file_perms;
allow vold nfc_data_file:dir getattr;
allow vold secure_storage:fd *;
allow vold secure_storage_device:sock_file write;
allow vold secure_storage_device:sock_file rw_file_perms;
allow vold netpolicy_service:service_manager find;
allow vold carrier_file:dir read;
allow vold security_spota_file:dir r_dir_perms;
allow vold security_spota_file:file r_file_perms;
allow vold sdcardd:binder transfer;
allow vold tzdaemon:fd *;
allow vold tz_user_device:chr_file rw_file_perms;
allow vold tee_efs_file:dir search;
allow vold keydata_data_file:dir create_dir_perms;
allow vold keydata_data_file:file create_file_perms;
allow vold shell_exec:file rx_file_perms;
allow vold ddexe_socket:sock_file getattr;
allow vold seapp_contexts_file:file r_file_perms;
allow vold mobicore_data_file:file r_file_perms;
allow vold oneseg_data_file:dir getattr;
allow vold sdunion_FSStack_servicevold:service_manager add;
allow vold proc_fslog:dir r_dir_perms;
allow vold proc_fslog:file rw_file_perms;
allow vold vendor_configs_file:file r_file_perms;
allow vold vendor_sysfs_scsi_host:dir r_dir_perms;
allow vold vendor_sysfs_scsi_host:file rw_file_perms;
allow vold vendor_sysfs_mmc_host:dir r_dir_perms;
allow vold vendor_sysfs_mmc_host:file rw_file_perms;
allow vold omr_file:dir r_dir_perms;
allow vold dqmdbgblk_file:dir r_dir_perms;
allow vold dqmdbgblk_file:file r_file_perms;
allow vold keydata_block_device:blk_file rw_file_perms;
allow vold keydata_block_device:blk_file r_file_perms;
allow vold keyrefuge_block_device:blk_file rw_file_perms;
allow vold keyrefuge_block_device:blk_file r_file_perms;
allow vold epm_service:service_manager add;
allow vold configfs:dir r_dir_perms;
allow vold configfs:file getattr;
allow vold sysfs_zram:file rw_file_perms;
allow vold edmnativehelper_service:service_manager find;
allow vold ion_device:chr_file r_file_perms;
allow vold vfat:file r_file_perms;
allow vold system_app_data_file:dir getattr;
allow vold hal_ucmtlc_hwservice:hwservice_manager find;
allow vold checkEncryption_file:file create_file_perms;
allow vold checkEncryption_file:dir create_dir_perms;
allow vold dev_type:blk_file getattr;
allow vold proc_swaps:file r_file_perms;
allow vold dsms_service:service_manager find;
allow vold keyfota_data_file:dir create_dir_perms;
allow vold keyfota_data_file:file create_file_perms;
allow vold same_process_hal_file:file { execute r_file_perms };
allow vold accounts_data_file:file create_file_perms;
allow vold mb_po_efs_file:dir create_dir_perms;
allow vold mb_po_efs_file:file create_file_perms;
allow vold sysfs_ski_testinfra_writable:dir r_dir_perms;
allow vold sysfs_ski_testinfra_writable:file rw_file_perms;
allow vold sec_data_file:dir create_dir_perms;
allow vold sec_data_file:file create_file_perms;
allow vold sec_data_file:file { relabelfrom relabelto };
allow vold proc_partition:file r_file_perms;
allow vold qrandom_device:chr_file r_file_perms;
allow vold vendor_rpmb_device:blk_file rw_file_perms;
allow vold adsprpcd_file:dir r_dir_perms;
allow vold vendor_gpt_block_device:blk_file rw_file_perms;
dontaudit vold self:capability sys_resource;
dontaudit vold self:cap_userns sys_resource;
allowxperm vold fs_type:ioctl dir 0x5879;
allowxperm vold file_type:ioctl dir 0x5879;
allowxperm vold data_file_type:ioctl dir { 0x6613 0x6615 range 0x6617 0x6618 };
allowxperm vold vold_metadata_file:ioctl file 0x660b;
allowxperm vold vold_metadata_file:ioctl file 0xf514;
allowxperm vold vold_data_file:ioctl file 0x660b;
allowxperm vold vold_data_file:ioctl file 0xf514;
allowxperm vold media_rw_data_file:ioctl file { range 0x581f 0x5820 };
allowxperm vold media_rw_data_file:ioctl file { range 0x6601 0x6602 };
allowxperm vold media_rw_data_file:ioctl file { 0x6c11 range 0x6c15 0x6c16 };
allowxperm vold media_rw_data_file:ioctl dir { range 0x581f 0x5820 };
allowxperm vold media_rw_data_file:ioctl dir { range 0x6601 0x6602 };
allowxperm vold media_rw_data_file:ioctl dir 0x5001;
allowxperm vold media_rw_data_file:ioctl dir { range 0x6c11 0x6c12 range 0x6c15 0x6c18 };
allowxperm vold loop_device:ioctl blk_file { range 0x4c00 0x4c01 range 0x4c04 0x4c05 0x4c82 };
allowxperm vold vold_device:ioctl blk_file { 0x1260 0x1277 };
allowxperm vold vold_device:ioctl blk_file 0x301;
allowxperm vold vold_device:ioctl blk_file 0x1271;
allowxperm vold dm_device:ioctl blk_file { 0x1277 0x127d };
allowxperm vold dm_device:ioctl blk_file 0x301;
allowxperm vold dm_device:ioctl blk_file { 0x125e 0x1260 0x1271 0x1277 range 0x127b 0x127c };
allowxperm vold userdata_block_device:ioctl blk_file 0x127d;
allowxperm vold userdata_block_device:ioctl blk_file 0x1260;
allowxperm vold metadata_block_device:ioctl blk_file 0x127d;
allowxperm vold keydata_block_device:ioctl blk_file 0x127d;
allowxperm vold keydata_data_file:ioctl file 0x660b;
allowxperm vold keydata_data_file:ioctl file 0xf514;
allowxperm vold keydata_data_file:ioctl dir { 0x6613 0x6615 range 0x6617 0x6618 };
allowxperm vold vfat:ioctl file 0x6c10;
allowxperm vold system_data_file:ioctl dir { range 0x5001 0x5002 };
allowxperm vold system_data_file:ioctl dir 0x6c12;
allowxperm vold vendor_data_file:ioctl dir 0x5001;
allowxperm vold sdcardfs:ioctl dir { 0x6c11 0x6c17 };
allowxperm vold unencrypted_data_file:ioctl file 0x660b;
allowxperm vold keyrefuge_data_file:ioctl file 0x660b;
allowxperm vold keyrefuge_data_file:ioctl file 0xf514;
allowxperm vold keyrefuge_data_file:ioctl dir 0x6617;
allowxperm vold keyrefuge_block_device:ioctl blk_file 0x127d;
allowxperm vold checkEncryption_file:ioctl file 0x660b;
allowxperm vold system_data_root_file:ioctl dir 0xf520;
type_transition vold system_data_file:file checkEncryption_file "checkEncryption";
type_transition vold system_data_file:dir fota_data_file "fota";
domain_auto_trans(vold, dumpstate_exec, dumpstate)
r_dir_file(vold, rootfs)
r_dir_file(vold, metadata_file)
r_dir_file(vold, apk_tmp_file)
r_dir_file(vold, domain)
r_dir_file(vold, asec_public_file)
r_dir_file(vold, selinuxfs)
r_dir_file(vold, dalvikcache_data_file)
unix_socket_connect(vold, property, dumpstate)
unix_socket_connect(vold, property, secure_storage)
unix_socket_connect(vold, tz, init)
unix_socket_connect(vold, tz, dumpstate)
unix_socket_connect(vold, tz, secure_storage)
unix_socket_connect(vold, dumpstate, init)
unix_socket_connect(vold, dumpstate, dumpstate)
unix_socket_connect(vold, dumpstate, secure_storage)
get_prop(vold, hwservicemanager_prop)
get_prop(vold, tzdaemon_prop)
get_prop(vold, mobicore_prop)
get_prop(vold, device_logging_prop)
get_prop(vold, vendor_teegris_prop)
get_prop(vold, vendor_tee_listener_prop)
set_prop(vold, audio_prop)
set_prop(vold, system_prop)
set_prop(vold, exported_system_prop)
set_prop(vold, ctl_start_prop)
binder_use(vold)
hwbinder_use(vold)
hal_client_domain(vold, hal_bootctl)
hal_client_domain(vold, hal_health_storage)
add_service(vold, vold_service)
type vold, domain, mlstrustedsubject;
type vold_exec, exec_type, file_type, system_file_type;
