allow vendor_wfdhdcphalservice_qti vendor_wfdhdcpvndservice_service:service_manager find;
allow vendor_wfdhdcphalservice_qti vendor_wfdvndservice:binder { call transfer };
allow vendor_wfdhdcphalservice_qti vendor_wfdvndservice:binder transfer;
allow vendor_wfdhdcphalservice_qti vendor_wfdvndservice:fd *;
allow vendor_wfdhdcphalservice_qti vendor_wfd_app:fd *;
allow vendor_wfdhdcphalservice_qti mediacodec:fd *;
allow vendor_wfdhdcphalservice_qti vendor_dmabuf_qseecom_heap_device:chr_file r_file_perms;
allow vendor_wfdhdcphalservice_qti vendor_dmabuf_system_heap_device:chr_file r_file_perms;
allow vendor_wfdhdcphalservice_qti vendor_membuf_dev:chr_file r_file_perms;
allow vendor_wfdhdcphalservice_qti vendor_vm_cp_bitstream_device:chr_file r_file_perms;
allow vendor_wfdhdcphalservice_qti anr_data_file:file append;
allow vendor_wfdhdcphalservice_qti dumpstate:fd *;
allow vendor_wfdhdcphalservice_qti dumpstate:fifo_file { append write };
allow vendor_wfdhdcphalservice_qti incidentd:fd *;
allow vendor_wfdhdcphalservice_qti incidentd:fifo_file { append write };
allow vendor_wfdhdcphalservice_qti system_server:fifo_file { append write };
allow vendor_wfdhdcphalservice_qti tombstoned:fd *;
allow vendor_wfdhdcphalservice_qti tombstone_data_file:file append;
init_daemon_domain(vendor_wfdhdcphalservice_qti)
unix_socket_connect(vendor_wfdhdcphalservice_qti, tombstoned_crash, tombstoned)
vndbinder_use(vendor_wfdhdcphalservice_qti)
hal_server_domain(vendor_wfdhdcphalservice_qti, hal_drm)
hal_client_domain(vendor_wfdhdcphalservice_qti, hal_graphics_composer)
type vendor_wfdhdcphalservice_qti, domain;
type vendor_wfdhdcphalservice_qti_exec, exec_type, file_type, vendor_file_type;
